# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Env files
.env
.env.local

# Logs
*.log
logs/

# Java / Gradle
**/build/
**/.gradle/
*.class

# Node
**/node_modules/
**/dist/
**/.vite/

# Python
**/__pycache__/
*.pyc

# Docker volumes/cache
.docker/
tmp/
