USE [MES_HI]
GO
/****** Object:  StoredProcedure [dbo].[sp_SCM_TrustAODoc]    Script Date: 2016-10-20 오전 9:53:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-----------------------------------------------
--- 공문서 관련 프로시저
-----------------------------------------------
--(18330)데이터(등록일자)강제변경해줌.
-----------------------------------------------
ALTER PROCEDURE [dbo].[sp_SCM_TrustAODoc]
-----------------------------------------------
	@WorkGB			NVARCHAR(20)	= '',	-- 조회 구분
	@uid			NVARCHAR(10)		= '',
	@Subject		NVARCHAR(100)	= '',
	@UserID			NVARCHAR(15)	= '',
	@CustName		NVARCHAR(50)	= '',
	@Writer			NVARCHAR(50)	= '',
	@Content		NVARCHAR(4000)	= '',
	@FileUid		DECIMAL(18,0)	= 0,
	@Date			NVARCHAR(10)	= '',
	@FormID			NVARCHAR(50)	= '',
	@firstDate		NVARCHAR(8)		= '',
	@lastDate		NVARCHAR(8)		= '',
	@IsAdmin		NVARCHAR(1)		= '',
	@sessionid		NVARCHAR(15)	= '',
	@cust			NVARCHAR(max)   = '',
	@custuid		INT				= 0, 
	@GUMAEKIND		NVARCHAR(5)     = '',
	@INSGB			NVARCHAR(1)     = '',	--1:부적합통지,2:개선대책서등록,3:정기신뢰성자료,4:업체시정조치사항,5:품질요청자료,6:대표이사신문고
	@PWD			NVARCHAR(10)    = '',
	@FDATE			DATETIME		= '1900-01-01', -- 등록일
	@FUSER			NVARCHAR(15)	= '', -- 등록자
	@FFORM			NVARCHAR(50)	= '', -- 등록폼 
	@LDATE			DATETIME		= '1900-01-01', -- 수정일
	@LUSER			NVARCHAR(15)	= '', -- 수정자
	@LFORM			NVARCHAR(50)	= ''
-----------------------------------------------
AS
-----------------------------------------------
	-- DECLARE @vcErrMessage 	NVARCHAR(MAX)
	-- SET @vcErrMessage = '프로시저에서 에러가 발생하였습니다.'

SET NOCOUNT ON

DECLARE @dcUID		INT,
		@dcCUST		NVARCHAR(10),
		@outCUST	NVARCHAR(20)

CREATE TABLE #tempCust (CUST NVARCHAR(10))

if @cust = 'cust' begin
	set @cust = (select custcd from COMCUSTH where PRYN='Y') + '_/'
end

DECLARE @dcCUSTCD	NVARCHAR(10)

SET @dcCUSTCD = ''

SELECT @dcCUSTCD = PERNNO
  FROM COMPAS 
 WHERE USERID = @sessionid	

-----------------------------------------------
--BEGIN TRAN
-----------------------------------------------
	IF @WorkGB = 'GetSendList'		--공문서발송 조회
		GOTO GetSendList_Proc
	ELSE IF @WorkGB = 'GetTakeList'	--공문서접수 조회
		GOTO GetTakeList_Proc
	ELSE IF @WorkGB = 'GetCustName'	--거래처명 조회
		GOTO GetCustName_Proc
	ELSE IF @WorkGB = 'Delete'		--공문서발송 삭제
		GOTO Delete_Proc
	ELSE IF @WorkGB = 'Add'			--공문서발송 등록
		GOTO Add_Proc
	ELSE IF @WorkGB = 'Update'		--공문서발송 수정
		GOTO Update_Proc
	ELSE IF @WorkGB = 'CustList'	--거래처 리스트
		GOTO CustList_Proc
	ELSE IF @WorkGB = 'TakeReadUpd'	--공문서접수 읽기 update
		GOTO TakeReadUpd_Proc
	ELSE IF @WorkGB = 'TakeCFMUpd'	--공문서접수 접수 update
		GOTO TakeCFMUpd_Proc
	ELSE IF @WorkGB = 'CustState'	--거래처상태 조회
		GOTO DocCustState_Proc
	ELSE IF @WorkGB = 'PWDOK'		--비밀번호 확인
		GOTO PWDOK_Proc
	ELSE
		GOTO AS_Proc
-----------------------------------------------
GetSendList_Proc:

	IF @IsAdmin = 'Y'			-- 관리자일 경우 날자범위에 맞는 모든 자료
		BEGIN
			SELECT A.uid,	A.subject,	A.userid,
				   A.writer,	A.content,	A.fileuid,
				   Substring(Convert(NVARCHAR, A.date, 120), 1, 10) as date,	
				   A.formID,		A.custname,
				   '' AS editPermit,
				   '' AS delPermit,
  				   '' AS isAdmin,
				   '' AS sessionid,
				   '' AS QueryKind,
                   '' AS detail,
				   b.uid custuid,
				   CASE WHEN A.ISADMIN = 'Y' THEN '' ELSE
					   (case when isnull(b.readyn,'n')='n' and isnull(b.cfmyn,'n')='n' then 1
							when isnull(b.readyn,'n')='y' and isnull(b.cfmyn,'n')='n' then 2
							when isnull(b.readyn,'n')='y' and isnull(b.cfmyn,'n')='y' then 3 end) END as state,
				   A.INSGB
			  FROM TrustAODoc A 
			  LEFT JOIN TRUSTWICUST AS B
				ON B.TBNAME = 'TRUSTAODOC' AND A.UID=B.TBUID AND B.CUSTCD = (SELECT CUSTCD FROM COMCUSTH WHERE PRYN='Y')
			 WHERE A.INSGB = @INSGB
			   AND A.DATE BETWEEN @firstDate AND @lastDate
			   AND (A.ISADMIN = 'Y' OR (A.ISADMIN<>'Y' AND B.CUSTCD = (SELECT CUSTCD FROM COMCUSTH WHERE PRYN='Y')))
			 ORDER BY UID
		END
	ELSE					-- 관리자가 아닐 경우 날자에 맞는 모든 자료
		BEGIN
			SELECT A.uid,	A.subject,	A.userid,
				   A.writer,	A.content,	A.fileuid,
				   Substring(Convert(NVARCHAR, A.date, 120), 1, 10) as date,	
				   A.formID,		A.custname,
				   '' AS editPermit,
				   '' AS delPermit,
  				   '' AS isAdmin,
				   '' AS sessionid,
				   '' AS QueryKind,
                   '' AS detail,
				    b.uid as custuid,				   
				   CASE WHEN A.ISADMIN = 'N' THEN '' ELSE
					   (case when b.readyn='n' and b.cfmyn='n' then 1
							when b.readyn='y' and b.cfmyn='n' then 2
							when b.readyn='y' and b.cfmyn='y' then 3 end) END as state,
				   A.INSGB
			  FROM TrustAODoc AS A
			  LEFT JOIN TRUSTWICUST AS B
				ON B.TBNAME = 'TRUSTAODOC' AND A.UID=B.TBUID 
		     WHERE A.INSGB = @INSGB
			   AND A.DATE BETWEEN @firstDate AND @lastDate
			   AND (A.USERID = @sessionid OR B.CUSTCD=@dcCUSTCD)
			 ORDER BY UID
		END

	GOTO SUCCESS
	RETURN
-----------------------------------------------
GetTakeList_Proc:

	--IF @IsAdmin = 'Y'			
	--	BEGIN
	--		SELECT A.uid,	A.subject,	A.userid,
	--			   A.writer,	A.content,	A.fileuid,
	--			   Substring(Convert(NVARCHAR, date, 120), 1, 10) as date,	
	--			   A.formID,		A.custname, b.uid as custuid,
	--			   '' AS editPermit,
	--			   '' AS delPermit,
 -- 				   '' AS isAdmin,
	--			   '' AS sessionid,
	--			   '' AS QueryKind,
	--			   case when b.readyn='n' and b.cfmyn='n' then 1
 --                       when b.readyn='y' and b.cfmyn='n' then 2
 --                       when b.readyn='y' and b.cfmyn='y' then 3 end as state
	--		  FROM TrustAODoc AS A
	--		  LEFT JOIN TRUSTWICUST AS B
	--			ON B.TBNAME = 'TRUSTAODOC' AND A.UID=B.TBUID 
	--	     WHERE DATE BETWEEN @firstDate AND @lastDate
	--		   AND B.CUSTCD = (SELECT CUSTCD FROM COMCUSTH WHERE PRYN='Y')
	--		 ORDER BY A.IsAdmin DESC, A.uid
	--	END
	--ELSE					
	--	BEGIN
	--		SELECT A.uid,	A.subject,	A.userid,
	--			   A.writer,	A.content,	A.fileuid,
	--			   Substring(Convert(NVARCHAR, date, 120), 1, 10) as date,	
	--			   A.formID,		A.custname, b.uid as custuid,
	--			   '' AS editPermit,
	--			   '' AS delPermit,
 -- 				   '' AS isAdmin,
	--			   '' AS sessionid,
	--			   '' AS QueryKind,
	--			   case when b.readyn='n' and b.cfmyn='n' then 1
 --                       when b.readyn='y' and b.cfmyn='n' then 2
 --                       when b.readyn='y' and b.cfmyn='y' then 3 end as state
	--		  FROM TrustAODoc AS A
	--		  LEFT JOIN TRUSTWICUST AS B
	--			ON B.TBNAME = 'TRUSTAODOC' AND A.UID=B.TBUID 
	--	     WHERE DATE BETWEEN @firstDate AND @lastDate
	--		   AND B.CUSTCD=@dcCUSTCD
	--		 ORDER BY A.IsAdmin DESC, A.uid
	--	END
		
	GOTO SUCCESS
	RETURN
-----------------------------------------------
TakeReadUpd_Proc:

	UPDATE TRUSTWICUST
	   SET READYN = 'Y' 
	 WHERE UID = @custuid

	GOTO SUCCESS
	RETURN
-----------------------------------------------
TakeCFMUpd_Proc:

	UPDATE TRUSTWICUST
	   SET CFMYN = 'Y' 
	 WHERE UID = @custuid

	GOTO SUCCESS
	RETURN
-----------------------------------------------
GetCustName_Proc:

	IF @isAdmin = 'Y'
		BEGIN
			DECLARE @dccustName	NVARCHAR(50)
			SET @dccustName = (SELECT CUSTSNM FROM COMCUSTH WHERE PRYN='Y')
			
			SELECT @dccustName + '(' + ISNULL((SELECT USERNAME FROM COMPAS WHERE PERNNO=@sessionid),'commate') + ')' as custName
		END
	ELSE
		BEGIN
			SELECT A.CUSTLNM AS custName, A.CUSTCD AS custCD
			  FROM COMCUSTH AS A
			  LEFT JOIN COMPAS AS B
			    ON A.CUSTCD = B.PERNNO
			 WHERE B.USERID = @sessionid
		END

	GOTO SUCCESS
	RETURN
-----------------------------------------------
Delete_Proc:
	
	Delete From TrustAODoc
		WHERE UID = @uid

	DELETE FROM TRUSTWICUST WHERE TBNAME='TRUSTAODOC' AND TBUID = @uid

	GOTO SUCCESS
	RETURN
-----------------------------------------------
Add_Proc:

	INSERT INTO TrustAODoc
	(
		Subject,	UserID,		Writer,		Content,	INSGB,
		FileUid,	Date,		FormID,		CustName,	IsAdmin, PWD
	) VALUES(
		@Subject,	@UserID,	@Writer,	@Content,	@INSGB,
		@FileUid,	@Date,		@FormID,	@CustName,	@IsAdmin, @PWD
	)
	
	SELECT @dcUID = UID FROM TrustAODoc WHERE UID = SCOPE_IDENTITY() 
	IF @cust <> '' 
	BEGIN	

		DELETE FROM TRUSTWICUST WHERE TBNAME='TRUSTAODOC' AND TBUID = @dcUID
 
		--문자열잘라서 임시테이블에 넣기
		WHILE (1 = 1)
		BEGIN  
			exec SDAOBGetCols @cust output,  @outCUST output   

			INSERT INTO #tempCust values (@outCUST)

			IF ISNULL(LTRIM(RTRIM(@cust)), '') = ' '       break 
		END

		DECLARE CUR_CUST CURSOR FAST_FORWARD
		FOR
			SELECT CUST FROM #tempCust ORDER BY CUST 
			
		OPEN CUR_CUST

		FETCH NEXT FROM CUR_CUST INTO @dcCUST

		WHILE @@FETCH_STATUS = 0
		BEGIN
			INSERT INTO TRUSTWICUST
				   (TBNAME, TBUID, CUSTCD, READYN, CFMYN)
			 VALUES('TRUSTAODOC', @dcUID, @dcCUST, 'N', 'N')

		FETCH NEXT FROM CUR_CUST INTO @dcCUST
		END

		--커서 CLOSE
		CLOSE CUR_CUST

		--커서 DEALLOCATE
		DEALLOCATE CUR_CUST
	END 
	ELSE BEGIN
		INSERT INTO TRUSTWICUST
				(TBNAME, TBUID, CUSTCD, READYN, CFMYN)
			VALUES('TRUSTAODOC', @dcUID, '00000', 'N', 'N')
	END
	
	DROP TABLE #tempCust

	GOTO SUCCESS
	RETURN
-----------------------------------------------
Update_Proc:

	UPDATE TrustAODoc SET 
		Subject = @Subject, 
		Writer = @Writer, 
		Content	=	@Content,
		FileUid	= @FileUid,
		Date	= @Date
	WHERE UID = @uid

	IF @cust <> '' 
	BEGIN	
		DELETE FROM TRUSTWICUST WHERE TBNAME='TRUSTAODOC' AND TBUID = @uid
 
		--문자열잘라서 임시테이블에 넣기
		WHILE (1 = 1)
		BEGIN  
			exec SDAOBGetCols @cust output,  @outCUST output   

			INSERT INTO #tempCust values (@outCUST)

			IF ISNULL(LTRIM(RTRIM(@cust)), '') = ' '       break 
		END

		DECLARE CUR_CUST CURSOR FAST_FORWARD
		FOR
			SELECT CUST FROM #tempCust ORDER BY CUST 
			
		OPEN CUR_CUST

		FETCH NEXT FROM CUR_CUST INTO @dcCUST

		WHILE @@FETCH_STATUS = 0
		BEGIN
			INSERT INTO TRUSTWICUST
				   (TBNAME, TBUID, CUSTCD, READYN, CFMYN)
			 VALUES('TRUSTAODOC', @uid, @dcCUST, 'N', 'N')

		FETCH NEXT FROM CUR_CUST INTO @dcCUST
		END

		--커서 CLOSE
		CLOSE CUR_CUST

		--커서 DEALLOCATE
		DEALLOCATE CUR_CUST
	END 

	DROP TABLE #tempCust

	GOTO SUCCESS
	RETURN
-----------------------------------------------
CustList_Proc:

	SELECT CASE WHEN D.CUSTCD IS NULL THEN 0 ELSE 1 END AS a, 
           C.CUSTCD AS b, C.CUSTSNM AS c
	  from ComPas AS A
	  left join comemp as b on a.pernno=b.pernno
	  left JOIN COMCUSTH AS C on A.PERNNO = C.CUSTCD
      LEFT JOIN TRUSTWICUST AS d ON d.TBNAME = 'TRUSTAODOC' AND d.TBUID = @uid AND c.CUSTCD=d.CUSTCD 
	 WHERE C.CUSTLNM IS NOT NULL
	   AND C.GUMAEKIND LIKE @GUMAEKIND+'%'

	--SELECT 1 a, A.CUSTCD b, B.CUSTSNM c
	--  FROM TRUSTWICUST AS A
	--  LEFT JOIN COMCUSTH AS B ON A.CUSTCD=B.CUSTCD
	-- WHERE TBNAME='TRUSTAODOC'
	--   AND TBUID = @uid

	--SELECT CASE WHEN B.CUSTCD IS NULL THEN 0 ELSE 1 END AS a, 
 --          A.CUSTCD AS b, A.CUSTSNM AS c
	--  FROM COMCUSTH AS A
 --     LEFT JOIN TRUSTWICUST AS B ON B.TBNAME = 'TRUSTAODOC' AND B.TBUID = @uid AND A.CUSTCD=B.CUSTCD 
	-- ORDER BY A.CUSTCD

	GOTO SUCCESS
	RETURN
-----------------------------------------------
DocCustState_Proc:

	SELECT A.CUSTCD, B.CUSTSNM AS CUSTNM, 
		   CASE WHEN A.READYN='Y' THEN 'O' ELSE 'X' END AS READYN, 
		   CASE WHEN A.CFMYN='Y' THEN 'O' ELSE 'X' END AS CFMYN
	  FROM TRUSTWICUST AS A
	  LEFT JOIN COMCUSTH AS B ON A.CUSTCD=B.CUSTCD
	 WHERE A.TBNAME = 'TRUSTAODOC'
	   AND A.TBUID = @uid

	GOTO SUCCESS
	RETURN
	
-----------------------------------------------
PWDOK_Proc:

	IF NOT EXISTS (SELECT UID, PWD FROM TrustAODoc WHERE UID=@uid AND PWD=@PWD) BEGIN
		SELECT 'NO_PASS' AS pwd
	END

	GOTO SUCCESS
	RETURN

-----------------------------------------------
AS_Proc:

	SELECT 'NoData'

	IF @@ERROR <> 0 GOTO ERROR
	ELSE GOTO SUCCESS

	RETURN
-----------------------------------------------
SUCCESS:
--	COMMIT TRAN
	RETURN
-----------------------------------------------
ERROR:
--	ROLLBACK TRAN
	RETURN
-----------------------------------------------

