USE [MES_HI]
GO
/****** Object:  StoredProcedure [dbo].[sp_SCM_TrustBoard]    Script Date: 12/02/2013 19:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--SCM : 업체 게시판 관련

ALTER PROCEDURE [dbo].[sp_SCM_TrustBoard]

	@WorkGB			NVARCHAR(20)	=	'',	-- 조회 구분
	@uid			NVARCHAR(4)		=	'',
	@Subject		NVARCHAR(100)	=	'',
	@UserID			NVARCHAR(15)	=	'',
	@CustName		NVARCHAR(50)	=	'',
	@Writer			NVARCHAR(50)	=	'',
	@Content		NVARCHAR(4000)	=	'',
	@FileUid		INT				= 0,
	@Date			NVARCHAR(10)	=	'',
	@FormID			NVARCHAR(50)	=	'',
	@yyyymm			NVARCHAR(6)		=	'',
	@last			NVARCHAR(2)		=	'',
	@IsAdmin		NVARCHAR(1)		=	'',
	@sessionid		NVARCHAR(15)	=	'',
	@cust			NVARCHAR(500)   =   '',
	@FDATE			DATETIME		= '1900-01-01', -- 등록일
	@FUSER			NVARCHAR(15)	= '', -- 등록자
	@FFORM			NVARCHAR(50)	= '', -- 등록폼 
	@LDATE			DATETIME		= '1900-01-01', -- 수정일
	@LUSER			NVARCHAR(15)	= '', -- 수정자
	@LFORM			NVARCHAR(50)	= ''
-----------------------------------------------
AS
-----------------------------------------------
	-- DECLARE @vcErrMessage 	NVARCHAR(MAX)
	-- SET @vcErrMessage = '프로시저에서 에러가 발생하였습니다.'
	
SET NOCOUNT ON

DECLARE @dcUID		INT,
		@dcCUST		NVARCHAR(10),
		@outCUST	NVARCHAR(20)

CREATE TABLE #tempCust (CUST NVARCHAR(10))

DECLARE @dcCUSTCD	NVARCHAR(10)

SET @dcCUSTCD = ''

SELECT @dcCUSTCD = PERNNO
  FROM COMPAS 
 WHERE USERID = @sessionid	

-----------------------------------------------
--BEGIN TRAN
-----------------------------------------------
	IF @WorkGB = 'GetList'
		GOTO GetList_Proc
	ELSE IF @WorkGB = 'GetCustName'
		GOTO GetCustName_Proc
	ELSE IF @WorkGB = 'Delete'
		GOTO Delete_Proc
	ELSE IF @WorkGB = 'Add'
		GOTO Add_Proc
	ELSE IF @WorkGB = 'Update'
		GOTO Update_Proc
	ELSE IF @WorkGB = 'CustList'
		GOTO CustList_Proc
	ELSE IF @WorkGB = 'CustState'	--거래처상태 조회
		GOTO BoardCustState_Proc
	ELSE
		GOTO AS_Proc
-----------------------------------------------
GetList_Proc:

	IF @IsAdmin = 'Y'			-- 관리자일 경우 날자범위에 맞는 모든 자료
		BEGIN
			SELECT uid,	subject,	userid,
				   writer,	content,	fileuid,
				   Substring(Convert(NVARCHAR, date, 120), 1, 10) as date,	
				   formID,		custname,
				   '' AS editPermit,
				   '' AS delPermit,
                   '' AS detail,
  				   '' AS isAdmin,
				   '' AS sessionid,
				   '' AS QueryKind,
				   '' custuid
			  FROM TrustBoard
			 WHERE DATE BETWEEN @yyyymm + '01' AND @yyyymm + @last
			 ORDER BY UID
		END
	ELSE					-- 관리자가 아닐 경우 날자에 맞는 모든 자료
		BEGIN
			SELECT A.uid,	A.subject,	A.userid,
				   A.writer,	A.content,	A.fileuid,
				   Substring(Convert(NVARCHAR, date, 120), 1, 10) as date,	
				   A.formID,		A.custname,
				   '' AS editPermit,
				   '' AS delPermit,
                   '' AS detail,
  				   '' AS isAdmin,
				   '' AS sessionid,
				   '' AS QueryKind,
				    b.uid as custuid		
			  FROM TrustBoard AS A
			  LEFT JOIN TRUSTWICUST AS B
				ON B.TBNAME = 'TRUSTBOARD' AND A.UID=B.TBUID 
		     WHERE A.DATE BETWEEN @yyyymm + '01' AND @yyyymm + @last
			   AND (A.USERID = @sessionid OR B.CUSTCD=@dcCUSTCD)
			 ORDER BY A.IsAdmin DESC, A.uid
		END

	GOTO SUCCESS
	RETURN
-----------------------------------------------
GetCustName_Proc:

	IF @isAdmin = 'Y'
		BEGIN
			SELECT '발주업체' AS custName
		END
	ELSE
		BEGIN
			SELECT A.CUSTLNM AS custName, A.CUSTCD AS custCD
			  FROM COMCUSTH AS A
			  LEFT JOIN COMPAS AS B
			    ON A.CUSTCD = B.PERNNO
			 WHERE B.USERID = @sessionid
		END

	GOTO SUCCESS
	RETURN
-----------------------------------------------
Delete_Proc:
	
	Delete From TrustBoard
		WHERE UID = @uid

	DELETE FROM TRUSTWICUST WHERE TBNAME='TRUSTBOARD' AND TBUID = @uid

	GOTO SUCCESS
	RETURN
-----------------------------------------------
Add_Proc:

	INSERT INTO TrustBoard
	(
		Subject,	UserID,		Writer,		Content,
		FileUid,	Date,		FormID,		CustName,	IsAdmin
	) VALUES(
		@Subject,	@UserID,	@Writer,	@Content,
		@FileUid,	@Date,		@FormID,	@CustName,	@IsAdmin
	)

	IF @cust <> '' 
	BEGIN	
		SELECT @dcUID = UID FROM TrustBoard WHERE UID = SCOPE_IDENTITY() 

		DELETE FROM TRUSTWICUST WHERE TBNAME='TRUSTBOARD' AND TBUID = @dcUID
 
		--문자열잘라서 임시테이블에 넣기
		WHILE (1 = 1)
		BEGIN  
			exec SDAOBGetCols @cust output,  @outCUST output   

			INSERT INTO #tempCust values (@outCUST)

			IF ISNULL(LTRIM(RTRIM(@cust)), '') = ' '       break 
		END

		DECLARE CUR_CUST CURSOR FAST_FORWARD
		FOR
			SELECT CUST FROM #tempCust ORDER BY CUST 
			
		OPEN CUR_CUST

		FETCH NEXT FROM CUR_CUST INTO @dcCUST

		WHILE @@FETCH_STATUS = 0
		BEGIN
			INSERT INTO TRUSTWICUST
				   (TBNAME, TBUID, CUSTCD, READYN, CFMYN)
			 VALUES('TRUSTBOARD', @dcUID, @dcCUST, '', '')

		FETCH NEXT FROM CUR_CUST INTO @dcCUST
		END

		--커서 CLOSE
		CLOSE CUR_CUST

		--커서 DEALLOCATE
		DEALLOCATE CUR_CUST
	END 

	DROP TABLE #tempCust

	GOTO SUCCESS
	RETURN
-----------------------------------------------
Update_Proc:

	UPDATE TrustBoard SET 
		Subject = @Subject, 
		Writer = @Writer, 
		Content	=	@Content,
		FileUid	= @FileUid,
		Date	= @Date
	WHERE UID = @uid

	IF @cust <> '' 
	BEGIN	
		DELETE FROM TRUSTWICUST WHERE TBNAME='TRUSTBOARD' AND TBUID = @uid
 
		--문자열잘라서 임시테이블에 넣기
		WHILE (1 = 1)
		BEGIN  
			exec SDAOBGetCols @cust output,  @outCUST output   

			INSERT INTO #tempCust values (@outCUST)

			IF ISNULL(LTRIM(RTRIM(@cust)), '') = ' '       break 
		END

		DECLARE CUR_CUST CURSOR FAST_FORWARD
		FOR
			SELECT CUST FROM #tempCust ORDER BY CUST 
			
		OPEN CUR_CUST

		FETCH NEXT FROM CUR_CUST INTO @dcCUST

		WHILE @@FETCH_STATUS = 0
		BEGIN
			INSERT INTO TRUSTWICUST
				   (TBNAME, TBUID, CUSTCD, READYN, CFMYN)
			 VALUES('TRUSTBOARD', @uid, @dcCUST, '', '')

		FETCH NEXT FROM CUR_CUST INTO @dcCUST
		END

		--커서 CLOSE
		CLOSE CUR_CUST

		--커서 DEALLOCATE
		DEALLOCATE CUR_CUST
	END 

	DROP TABLE #tempCust

	GOTO SUCCESS
	RETURN

-----------------------------------------------
CustList_Proc:

	SELECT CASE WHEN B.CUSTCD IS NULL THEN 0 ELSE 1 END AS a, 
           A.CUSTCD AS b, A.CUSTLNM AS c
	  FROM COMCUSTH AS A
      LEFT JOIN TRUSTWICUST AS B ON B.TBNAME = 'TRUSTBOARD' AND B.TBUID = @uid AND A.CUSTCD=B.CUSTCD 
	 ORDER BY A.CUSTCD

	RETURN
	
-----------------------------------------------
BoardCustState_Proc:

	SELECT A.CUSTCD, B.CUSTSNM AS CUSTNM, 
		   CASE WHEN A.READYN='Y' THEN 'O' ELSE 'X' END AS READYN, 
		   CASE WHEN A.CFMYN='Y' THEN 'O' ELSE 'X' END AS CFMYN
	  FROM TRUSTWICUST AS A
	  LEFT JOIN COMCUSTH AS B ON A.CUSTCD=B.CUSTCD
	 WHERE A.TBNAME = 'TRUSTBOARD'
	   AND A.TBUID = @uid

	GOTO SUCCESS
	RETURN
-----------------------------------------------
AS_Proc:

	SELECT 'NoData'

	IF @@ERROR <> 0 GOTO ERROR
	ELSE GOTO SUCCESS

	RETURN
-----------------------------------------------
SUCCESS:
--	COMMIT TRAN
	RETURN
-----------------------------------------------
ERROR:
--	ROLLBACK TRAN
	RETURN
-----------------------------------------------

