USE [MES_HI]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--SCM : 납품등록 관련

ALTER PROCEDURE [dbo].[sp_SCM_OrderManager]
		@WORKGB		NVARCHAR(20) = '',
		@FDATE		NVARCHAR(8)  = '',	-- 시작일
		@LDATE		NVARCHAR(8)	 = '',	-- 종료일
		@ORDKEY		NVARCHAR(20) = '',	-- 발주번호
		@GAHKEY		NVARCHAR(20) = '',	-- 가입고번호
		@Sabun		NVARCHAR(15) = '',	-- 품목코드
		@CustCD		NVARCHAR(20) = '',	-- 거래처
		@UserID		NVARCHAR(20) = '',	-- 사용자아이디
		@ORDERGB	NVARCHAR(1)  = '',	-- 발주구분(M002)

		@GADATE			NVARCHAR(8)  ='',
		@ORDKEYSTR		NVARCHAR(max)='',
		@SAORDKEYSTR	NVARCHAR(max)='',
		@STDQTYSTR		NVARCHAR(max)='',
		@GAQTYSTR		NVARCHAR(max)='',
		@GASUMQTYSTR	NVARCHAR(max)='',
		@EBOXYNSTR		NVARCHAR(max)='',
		@PRDDATESTR		NVARCHAR(max)='',
		@NAPPLANSTR		NVARCHAR(max)='',
		@GAHKEYSTR		NVARCHAR(max)='',
		@LOTNOSTR		NVARCHAR(max)='',
		@LOTQTYSTR		NVARCHAR(max)='',

		@LOTCNT		DECIMAL(18,4)= 0,
		@PACKUNIT	DECIMAL(18,4)= 0,
		@EBOXYN		NVARCHAR(1)  = '',
		@FACTGB		NVARCHAR(1)	 = '',
		@PRTOPT		NVARCHAR(10) = '',	
		@DATEGB		NVARCHAR(1)  = '1',

		@FUSER		NVARCHAR(10) = '',	-- 등록자
		@FFORM		NVARCHAR(50) = '',	-- 등록폼 
		@ERRGB		NVARCHAR(1)	 = '' OUTPUT,
		@ERRMSG		NVARCHAR(100)= '' OUTPUT,
		@RTNYN		NVARCHAR(1)  = 'Y'

AS
	
SET NOCOUNT ON

	CREATE TABLE #TMEP (SEL VARCHAR(1), LOTNO VARCHAR(20), SABUN VARCHAR(20), PARTNO VARCHAR(50),
						ITEMNM VARCHAR(50), LOTQTY DECIMAL(18,4), PRCUSTNM VARCHAR(50),
						NAPDATE VARCHAR(50), CUSTNM VARCHAR(50), inCount INT, PRDDATE  VARCHAR(50), SORT INT, SUMLOTNO NVARCHAR(20), GAHKEY NVARCHAR(20), PONO NVARCHAR(20))

	CREATE INDEX IDX_SUMLOTNO ON #TMEP (SUMLOTNO)
	CREATE INDEX IDX_LOTNO ON #TMEP (LOTNO)

	DECLARE @dcLOTGB	NVARCHAR(2),
			@dcBOXQTY	DECIMAL(18,4),
			@dcEBOXQTY	DECIMAL(18,4),
			@dcLOTSER	INT,	
			@dcDATE		NVARCHAR(8),
			@dcCNT		INT,
			@dcLOTSEQ	INT,
			@dcSLOTNO	NVARCHAR(20),
			@dcLOTNO	NVARCHAR(20),
			@dcSUMLOTNO NVARCHAR(20),
			@dcTOPCNT	INT,
			@dcTOTQTY	DECIMAL(18,4),
			@doLOTCNT	INT
			
	DECLARE @doGAHKEY VARCHAR(20),
			@doGAHKEY1 VARCHAR(20),
			@doLOTNO  VARCHAR(20),
			@doLOTQTY DECIMAL(18,4),
			@dcSABUN  VARCHAR(20)
			
	DECLARE @dcGADATE NVARCHAR(8),
			@dcCUSTNM NVARCHAR(50)

	DECLARE @dcPONO	  NVARCHAR(20)

BEGIN TRAN

	IF @WORKGB = 'GetOrdList'
		GOTO GetOrdList_Proc
	ELSE IF @WORKGB = 'AddGaip'
		GOTO AddGaip_Proc
	ELSE IF @WORKGB = 'Get_Cust'
		GOTO Get_Cust_Proc
	ELSE IF @WORKGB = 'NapPlanUPD'
		GOTO NapPlanUPD_Proc
	ELSE IF @WORKGB = 'GetGaipList'
		GOTO GetGaipList_Proc
	ELSE IF @WORKGB = 'DeleteGaipList'
		GOTO DeleteGaipList_Proc
	ELSE IF @WORKGB = 'PackSumCHK'
		GOTO PackSumCHK_Proc
	ELSE IF @WORKGB = 'PackSum'
		GOTO PackSum_Proc
	ELSE IF @WORKGB = 'PackSumPart'
		GOTO PackSumPart_Proc
	ELSE IF @WORKGB = 'GetLotHead'
		GOTO GetLotHead_Proc
	ELSE IF @WORKGB = 'GetSumLotHead'
		GOTO GetSumLotHead_Proc
	ELSE IF @WORKGB = 'GetLotDetail'
		GOTO GetLotDetail_Proc
	ELSE IF @WORKGB = 'GetSumLotDetail'
		GOTO GetSumLotDetail_Proc
	ELSE IF @WORKGB = 'GetCustInfo'
		GOTO GetCustInfo_Proc
	ELSE IF @WORKGB = 'GetAccount'
		GOTO GetAccount_Proc
	ELSE IF @WORKGB = 'GetALLLotDetail'
		GOTO GetALLLotDetail_Proc
	ELSE IF @WORKGB = 'GetPackInfo'
		GOTO GetPackInfo_Proc
	ELSE IF @WORKGB = 'PackRePrint'
		GOTO PackRePrint_Proc
	ELSE
	BEGIN
		SELECT 'NoData'
		GOTO ERROR
	END 


/*납품등록-발주정보조회*/
GetOrdList_Proc:
	
	--발주번호, 수주번호, 품목코드, 품번, 품명, 발주수량, 미납수량, 표준수량, 박스수, 납품수량, 자투리여부,
	--납품예상일자, 발주일자, 납기일자, 거래처코드, 거래처명, 비고		
	SELECT A.ORHKEY, A.ORDKEY, E.SAORDKEY, A.SABUN, B.PARTNO, B.ITEMNM, ISNULL(G.CODDNM,'') AS ORDERNM,
		   E.ORQTY, E.ORQTY-ISNULL(E.GAQTY,0) AS MQTY, 
		   0 AS NAPQTY, 0 AS SUMQTY, 
		   ISNULL(D.BOXQTY,0) AS STDQTY, 'N' AS ETCYN,
		   '' AS PRDDATE, E.NAPPLANDATE, 
		   A.ORDATE, A.NAPDATE, A.CUSTCD, C.CUSTSNM AS CUSTNM,	
		   A.ORREMARK AS REMARK,
		   E.CONFGB, E.GONGCD, B.CHNGUT, B.WAREGB, I.GUMGB, 0 AS USEQTY,
		   E.ORQTY-ISNULL(E.GAQTY,0) AS BMQTY
	  FROM JAORDRD AS A (NOLOCK)
	 INNER JOIN JAORDRD1 AS E (NOLOCK) ON A.ORDKEY=E.ORDKEY
	  LEFT JOIN COMITEM AS B (NOLOCK) ON A.SABUN=B.SABUN
	  LEFT JOIN COMCUSTH AS C (NOLOCK) ON A.CUSTCD=C.CUSTCD
	  LEFT JOIN PRAPACK AS D (NOLOCK) ON A.SABUN=D.SABUN AND A.CUSTCD=D.CUSTCD
	  LEFT JOIN JAORDRH AS K (NOLOCK) ON A.ORHKEY=K.ORHKEY
	  LEFT JOIN (SELECT ORDKEY, SUM(GAQTY) AS SUMQTY
				   FROM JAGAIPH (NOLOCK)
				  WHERE GADATE >= CONVERT(NVARCHAR(8), GETDATE()-30, 112)
				  GROUP BY ORDKEY) AS F ON A.ORDKEY=F.ORDKEY
	  LEFT JOIN COMCODD AS G (NOLOCK) ON G.CODHCD='M002' AND A.ORDERGB=G.CODDCD
	  LEFT JOIN COMPAS AS H (NOLOCK) ON A.CUSTCD = H.PERNNO
	  LEFT JOIN COMPBOMH AS I (NOLOCK) ON A.SABUN=I.SABUN AND A.GONGCD=I.GONGCD
	 WHERE A.OREND IN ('0', '1')
	   AND E.ORQTY>0
	   AND E.ORQTY-ISNULL(E.GAQTY,0)>0
	   AND H.USERID = @UserID
	   AND CASE WHEN @DATEGB='1' THEN A.ORDATE ELSE A.NAPDATE END BETWEEN @FDATE AND @LDATE
	   AND A.SABUN LIKE @SABUN+'%'
	   AND A.ORDKEY LIKE @ORDKEY+'%'
	   AND A.ORDERGB LIKE @ORDERGB+'%'
	 ORDER BY A.SABUN, E.SAORDKEY
			
	GOTO SUCCESS
	RETURN

/*납품등록-납품등록*/
AddGaip_Proc:

	EXEC sp_PurC010FrmA1_HI 
		 @WORKGB='INSERT', 
		 @GADATE=@GADATE,
		 @ORDKEYSTR=@ORDKEYSTR,
		 @SAORDKEYSTR=@SAORDKEYSTR,
		 @STDQTYSTR=@STDQTYSTR,
		 @GAQTYSTR=@GAQTYSTR,
		 @GASUMQTYSTR=@GASUMQTYSTR,
		 @EBOXYNSTR=@EBOXYNSTR,
		 @PRDDATESTR=@PRDDATESTR,
		 @FUSER=@FUSER, 
		 @FFORM=@FFORM,
		 @ERRGB   = @ERRGB OUTPUT,
		 @ERRMSG  = @ERRMSG OUTPUT,
		 @RTNYN   = 'N',
		 @vcTRANGB= '1' 

	IF @@ERROR <> 0 GOTO ERROR
	IF @ERRGB='X' GOTO ERROR

	GOTO SUCCESS
	RETURN
	
Get_Cust_Proc:

	SELECT B.CUSTCD
	  FROM COMPAS AS A
	  LEFT JOIN COMCUSTH AS B ON A.PERNNO = B.CUSTCD
	 WHERE B.CUSTCD IS NOT NULL
	   AND A.USERID = @USERID

	GOTO SUCCESS
	RETURN

NapPlanUPD_Proc:

	DECLARE @doORDKEY	NVARCHAR(20),
			@doSAORDKEY	NVARCHAR(13),
			@doNAPPLAN	NVARCHAR(8)

    WHILE (1 = 1)
    BEGIN
        EXEC SDAOBGETCOLS @ORDKEYSTR	OUTPUT, @doORDKEY	OUTPUT
		EXEC SDAOBGETCOLS @SAORDKEYSTR	OUTPUT, @doSAORDKEY	OUTPUT  
		EXEC SDAOBGETCOLS @NAPPLANSTR	OUTPUT, @doNAPPLAN	OUTPUT

		UPDATE JAORDRD1
		   SET NAPPLANDATE = @doNAPPLAN,
			   LDATE = GETDATE(),
			   LUSER = @FUSER,
			   LFORM = @FFORM
		 WHERE ORDKEY = @doORDKEY
		   AND SAORDKEY = @doSAORDKEY
		IF @@ERROR <> 0
		BEGIN
			SET @ERRMSG='납품예상일자 수정 실패'
            GOTO ERROR
		END

        IF ISNULL(LTRIM(RTRIM(@ORDKEYSTR)), '') = '' BREAK
    END

	GOTO SUCCESS
	RETURN

/*납품조회-납품조회*/
GetGaipList_Proc:			

	--거래처명, 납품번호, 납품일자, 품목코드, 품번, 품명, 납품수량, 검사여부, 입고여부, 상태
	SELECT ISNULL(G.CODDNM,'') AS ORDERNM,
		   C.CUSTSNM AS CUSTNM, A.GAHKEY, A.GADATE, 
		   A.SABUN, B.PARTNO, B.ITEMNM, 
		   A.GAQTY, A.SUHAPYN, A.IPGOYN,
		   CASE WHEN A.IPGOYN='Y' 
				THEN '입고'
				ELSE (CASE WHEN A.GAIPCFYN='Y' THEN '접수' ELSE '배송중' END)
				END AS STATENM
	  FROM JAGAIPH AS A (NOLOCK)
	  LEFT JOIN COMITEM AS B (NOLOCK) ON A.SABUN=B.SABUN
	  LEFT JOIN COMCUSTH AS C (NOLOCK) ON A.CUSTCD=C.CUSTCD
      LEFT JOIN JAORDRD D (NOLOCK) ON A.ORDKEY = D.ORDKEY
	  LEFT JOIN COMCODD G (NOLOCK) ON G.CODHCD='M002' AND D.ORDERGB=G.CODDCD
	  LEFT JOIN COMPAS H (NOLOCK) ON A.CUSTCD = H.PERNNO
	 WHERE H.USERID = @UserID
	   AND A.GADATE BETWEEN @FDATE AND @LDATE
	   AND A.SABUN LIKE @SABUN+'%'
	   AND ISNULL(D.ORDERGB,'') LIKE @ORDERGB+'%'
	 ORDER BY A.GAHKEY

	GOTO SUCCESS
	RETURN

/*납품조회-납품취소*/
DeleteGaipList_Proc:

	EXEC sp_VBSCMGAIPGO_INQ 
		 @WORKGB  = 'DELETE_GAIPGO', 
		 @GAHKEY  = @GAHKEY,
		 @ERRGB   = @ERRGB OUTPUT,
		 @ERRMSG  = @ERRMSG OUTPUT,
		 @RTNYN   = 'N',
		 @vcTRANGB= '1' 
	IF @@ERROR <> 0 GOTO ERROR
	IF @ERRGB='X' GOTO ERROR

	GOTO SUCCESS
	RETURN

/*부품식별표인쇄-자재대포장수정체크*/
PackSumCHK_Proc:

	DECLARE @dcPACKUNIT	DECIMAL(18,4)
	
	SELECT @dcPACKUNIT = MAX(A.PACKUNINT) 
	  FROM (SELECT A.GAHKEY, A.SUMLOTNO, MAX(B.PACKUNIT) AS PACKUNINT
			  FROM JAGAIPD AS A
			  LEFT JOIN (SELECT SUMLOTNO, COUNT(*) AS PACKUNIT FROM PRSPACKSUM GROUP BY SUMLOTNO)AS B 
				ON A.SUMLOTNO=B.SUMLOTNO
			 WHERE A.GAHKEY=@GAHKEY AND A.SUMLOTNO<>''
			 GROUP BY A.GAHKEY, A.SUMLOTNO) A

	IF (SELECT GAIPCFYN FROM JAGAIPH WHERE GAHKEY = @GAHKEY) = 'Y' AND @dcPACKUNIT <> @PACKUNIT
    BEGIN
        SET @ERRMSG='가입고처리된 상태입니다. 대포장 정보를 수정할 수 없습니다.'
        GOTO ERROR
    END

	GOTO SUCCESS
	RETURN

/*부품식별표인쇄-자재대포장*/
PackSum_Proc:

	--가입고처리된 상태가 아닐때 
    IF (SELECT GAIPCFYN FROM JAGAIPH WHERE GAHKEY = @GAHKEY) <> 'Y'	
	BEGIN	
		DELETE FROM COMLOTCRT
		 WHERE LOTNO IN (SELECT SUMLOTNO FROM JAGAIPD WHERE GAHKEY=@GAHKEY AND SUMLOTNO<>'')

		DELETE FROM PRSPACKSUM
		 WHERE SUMLOTNO IN (SELECT SUMLOTNO FROM JAGAIPD WHERE GAHKEY=@GAHKEY AND SUMLOTNO<>'')

		UPDATE JAGAIPD
		   SET SUMLOTNO = ''
		 WHERE GAHKEY=@GAHKEY AND SUMLOTNO<>''

		IF NOT EXISTS (SELECT * FROM JAGAIPD WHERE GAHKEY=@GAHKEY AND SUMLOTNO<>'')
		BEGIN		
			SET @dcDATE = CONVERT(VARCHAR,GETDATE(),112)

			--LOT 체계 점검
			SELECT @dcLOTGB = CODDCD
			  FROM COMCODD
			 WHERE CODHCD = 'C090'
			   AND CODDNM = '자재대포장'
			IF @@ROWCOUNT = 0
			BEGIN
				SET @ERRMSG = '자재대포장 바코드 기준정보가 등록되지 않았습니다. 코드번호 C090을 확인해 주십시요.'
				GOTO ERROR
			END

			
			-- 대포장 박스수계산 (롯트수 / 대포장단위)
			SET @dcBOXQTY = CAST(LEFT(CAST(@LOTCNT/@PACKUNIT AS VARCHAR), CHARINDEX('.',CAST(@LOTCNT/@PACKUNIT AS VARCHAR)) -1) AS INT)
			
			IF @LOTCNT > (@PACKUNIT * @dcBOXQTY) AND @dcBOXQTY <> 0
				BEGIN
					IF @EBOXYN='Y' 
						BEGIN
							SET @dcEBOXQTY = @LOTCNT - (@PACKUNIT * @dcBOXQTY)
							SET @dcBOXQTY = @dcBOXQTY + 1
						END
					ELSE
						BEGIN
							SET @dcEBOXQTY = @LOTCNT - (@PACKUNIT * (@dcBOXQTY-1))
						END
				END
			ELSE IF @dcBOXQTY = 0
				BEGIN
					SET @dcEBOXQTY = @LOTCNT
					SET @dcBOXQTY = 1
				END 
			ELSE
				SET @dcEBOXQTY = @PACKUNIT

			SELECT @dcLOTSER = ISNULL(MAX(LOTSER),0) + 1
			  FROM COMLOTCRT
			 WHERE FACTGB = @FACTGB 
			   AND LOTGB  = @dcLOTGB
			   AND LOTDATE= @dcDATE

			SELECT LOTNO, FACTGB, SABUN, LOTQTY, 'N' AS TRANYN
			  INTO #tmpJAGAIPD
			  FROM JAGAIPD
			 WHERE GAHKEY = @GAHKEY

			SET @dcCNT = 0 
			SET @dcSLOTNO = @dcLOTGB + @FACTGB + dbo.fn_DateToLot(@dcDATE)+ RIGHT('000'+CAST(@dcLOTSER AS VARCHAR),4)

			WHILE(@dcCNT <> @dcBOXQTY)
			BEGIN
				IF NOT EXISTS (SELECT * FROM #tmpJAGAIPD WHERE TRANYN='N') BREAK

				SET @dcCNT = @dcCNT + 1
				SET @dcTOPCNT = CASE WHEN @dcCNT = @dcBOXQTY THEN @dcEBOXQTY ELSE @PACKUNIT END
			
				SELECT @dcLOTSEQ = ISNULL(MAX(LOTSEQ),0) + 1
				  FROM COMLOTCRT
				 WHERE FACTGB = @FACTGB 
				   AND LOTGB  = @dcLOTGB
				   AND LOTDATE= @dcDATE
				   AND LOTSER = @dcLOTSER

				SET @dcLOTNO = @dcSLOTNO + RIGHT('000'+CAST(@dcLOTSEQ AS VARCHAR),4)

				INSERT INTO COMLOTCRT
					   (LOTNO,		LOTGB,		FACTGB,		
						LOTDATE,	LOTSER,		LOTSEQ,		
						FDATE,		FUSER,		FFORM)
				VALUES (@dcLOTNO,	@dcLOTGB,	@FACTGB, 
						@dcDATE,	@dcLOTSER,	@dcLOTSEQ, 
						GETDATE(),	@FUSER,		@FFORM)
				IF @@ERROR <> 0 
				BEGIN
					SET @ERRMSG = 'LOT 정보 등록시 오류가 발생했습니다.'
					GOTO ERROR
				END

				INSERT INTO PRSPACKSUM
					   (SUMLOTNO,		LOTNO,		LOTQTY,		FACTGB,			
						SABUN,			SUMDATE,	TOTQTY,		PERNNO,
						PACKGB,			FDATE,		FUSER,		FFORM)
 				 SELECT TOP (@dcTOPCNT)
 						@dcLOTNO,		LOTNO,		LOTQTY,		FACTGB,
						SABUN,			@dcDATE,	0,			'',
						'0',			GETDATE(),	@FUSER,		@FFORM
				  FROM #tmpJAGAIPD
				 WHERE TRANYN = 'N'
				IF @@ERROR <> 0 
				BEGIN
					SET @ERRMSG = '자재대포장 등록시 오류가 발생했습니다.'
					GOTO ERROR
				END

				UPDATE A
				   SET A.TOTQTY = B.TOTQTY 
				  FROM PRSPACKSUM A
				  LEFT JOIN (SELECT SUMLOTNO, SUM(LOTQTY) AS TOTQTY
							   FROM PRSPACKSUM
							  GROUP BY SUMLOTNO) B ON A.SUMLOTNO=B.SUMLOTNO
				 WHERE A.SUMLOTNO = @dcLOTNO
				IF @@ERROR <> 0 
				BEGIN
					SET @ERRMSG = '자재대포장 총수량 갱신시 오류가 발생했습니다.'
					GOTO ERROR
				END

				UPDATE JAGAIPD
				   SET SUMLOTNO = @dcLOTNO,
					   PACKGB = '0',
					   LUSER = @FUSER,
					   LFORM = @FFORM
				 WHERE LOTNO IN (SELECT TOP (@dcTOPCNT) LOTNO FROM #tmpJAGAIPD WHERE TRANYN = 'N')
				IF @@ERROR <> 0 
				BEGIN
					SET @ERRMSG = '대포장 롯트번호 갱신시 오류가 발생했습니다.'
					GOTO ERROR
				END

				UPDATE TOP (@dcTOPCNT) #tmpJAGAIPD
				   SET TRANYN = 'Y'
				 WHERE TRANYN = 'N'
			END

			DROP TABLE #tmpJAGAIPD
		END
	END
	
	SELECT @dcPONO = MAX(C.PONO)
	  FROM JAGAIPH A 
	  LEFT JOIN JAORDRD1 B ON A.ORDKEY=B.ORDKEY
	  LEFT JOIN SACORDT C ON B.SAORDKEY=C.SAORDKEY
	  LEFT JOIN COMITEM M ON A.SABUN=M.SABUN
     WHERE A.GAHKEY = @GAHKEY
	   AND M.ITTYPE='2' AND RIGHT(M.SABUN,1)='X'

	SELECT 'Y' AS SEL,
		   A.SUMLOTNO AS LOTNO, A.SABUN, B.PARTNO, B.ITEMNM, SUM(A.LOTQTY) AS LOTQTY,
		   (SELECT CUSTLNM FROM COMCUSTH WHERE PRYN='Y') AS PRCUSTNM,
		   A.GADATE AS NAPDATE, C.CUSTLNM AS CUSTNM, '1' AS inCount, 
		   P.SUMDATE AS PRDDATE, ISNULL(@dcPONO,'') PONO
	  FROM JAGAIPD AS A (NOLOCK)
	  LEFT JOIN COMITEM AS B (NOLOCK) ON A.SABUN=B.SABUN
	  LEFT JOIN COMCUSTH AS C (NOLOCK) ON A.CUSTCD=C.CUSTCD
	  LEFT JOIN PRAPACK AS E (NOLOCK) ON A.CUSTCD=E.CUSTCD AND A.SABUN=E.SABUN
	  LEFT JOIN (SELECT MAX(SUMDATE) AS SUMDATE, SUMLOTNO FROM PRSPACKSUM GROUP BY SUMLOTNO) AS P ON A.SUMLOTNO=P.SUMLOTNO
	 WHERE A.GAHKEY = @GAHKEY AND A.SUMLOTNO <> '' AND PACKGB = '0'
	 GROUP BY A.SUMLOTNO, A.SABUN, B.PARTNO, B.ITEMNM, A.GADATE, C.CUSTLNM, A.GAHKEY, P.SUMDATE

	GOTO SUCCESS
	RETURN

/*파레트인쇄-롯트헤더조회*/
PackSumPart_Proc:

	SET @dcDATE = CONVERT(VARCHAR,GETDATE(),112)
	-- 대포장 박스수계산 (롯트수 / 대포장단위)
	SET @dcBOXQTY = CAST(LEFT(CAST(@LOTCNT/@PACKUNIT AS VARCHAR), CHARINDEX('.',CAST(@LOTCNT/@PACKUNIT AS VARCHAR)) -1) AS INT)
	
	--LOT 체계 점검
	SELECT @dcLOTGB = CODDCD
	  FROM COMCODD
	 WHERE CODHCD = 'C090'
	   AND CODDNM = '자재대포장'
	IF @@ROWCOUNT = 0
	BEGIN
		SET @ERRMSG = '자재대포장 바코드 기준정보가 등록되지 않았습니다. 코드번호 C090을 확인해 주십시요.'
		GOTO ERROR
	END

	IF @LOTCNT > (@PACKUNIT * @dcBOXQTY) AND @dcBOXQTY <> 0
		BEGIN
			IF @EBOXYN='Y' 
				BEGIN
					SET @dcEBOXQTY = @LOTCNT - (@PACKUNIT * @dcBOXQTY)
					SET @dcBOXQTY = @dcBOXQTY + 1
				END
			ELSE
				BEGIN
					SET @dcEBOXQTY = @LOTCNT - (@PACKUNIT * (@dcBOXQTY-1))
				END
		END
	ELSE IF @dcBOXQTY = 0
		BEGIN
			SET @dcEBOXQTY = @LOTCNT
			SET @dcBOXQTY = 1
		END 
	ELSE
		SET @dcEBOXQTY = @PACKUNIT

	SELECT @dcLOTSER = ISNULL(MAX(LOTSER),0) + 1
	  FROM COMLOTCRT
	 WHERE FACTGB = @FACTGB 
	   AND LOTGB  = @dcLOTGB
	   AND LOTDATE= @dcDATE
	   
	SET @dcCNT = 0
	SET @dcSLOTNO = @dcLOTGB + @FACTGB + dbo.fn_DateToLot(@dcDATE)+ RIGHT('000'+CAST(@dcLOTSER AS VARCHAR),4)
	SET @doGAHKEY1 = ''
	
	WHILE(@dcCNT <> @dcBOXQTY)
	BEGIN
		SET @dcCNT = @dcCNT + 1
		SET @dcTOPCNT = CASE WHEN @dcCNT = @dcBOXQTY THEN @dcEBOXQTY ELSE @PACKUNIT END

		SELECT @dcLOTSEQ = ISNULL(MAX(LOTSEQ),0) + 1
		  FROM COMLOTCRT
		 WHERE FACTGB = @FACTGB 
		   AND LOTGB  = @dcLOTGB
		   AND LOTDATE= @dcDATE
		   AND LOTSER = @dcLOTSER
		 
		SET @dcLOTNO = @dcSLOTNO + RIGHT('000'+CAST(@dcLOTSEQ AS VARCHAR),4)
	
		INSERT INTO COMLOTCRT
			   (LOTNO,		LOTGB,		FACTGB,		
				LOTDATE,	LOTSER,		LOTSEQ,		
				FDATE,		FUSER,		FFORM)
		VALUES (@dcLOTNO,	@dcLOTGB,	@FACTGB, 
				@dcDATE,	@dcLOTSER,	@dcLOTSEQ, 
				GETDATE(),	@FUSER,		@FFORM)
		IF @@ERROR <> 0 
		BEGIN
			SET @ERRMSG = 'LOT 정보 등록시 오류가 발생했습니다.'
			GOTO ERROR
		END
		
		SET @doLOTCNT = 0
		WHILE(@doLOTCNT <> @PACKUNIT)
		BEGIN
			IF @GAHKEYSTR = '' BREAK
			
			EXEC SDAOBGETCOLS @GAHKEYSTR	OUTPUT, @doGAHKEY	OUTPUT		
			EXEC SDAOBGETCOLS @LOTNOSTR		OUTPUT, @doLOTNO	OUTPUT
			EXEC SDAOBGETCOLS @LOTQTYSTR	OUTPUT, @doLOTQTY	OUTPUT

			IF @dcCNT = @dcBOXQTY AND @GAHKEYSTR <> ''
			BEGIN
				SET @doLOTCNT = @doLOTCNT
			END
			ELSE
			BEGIN
				SET @doLOTCNT = @doLOTCNT + 1
			END
			
			SELECT @dcSABUN = SABUN,
				   @dcSUMLOTNO = SUMLOTNO
			  FROM JAGAIPD
			 WHERE GAHKEY = @doGAHKEY AND LOTNO = @doLOTNO
			 
			DELETE 
			  FROM PRSPACKSUM
			 WHERE SUMLOTNO = @dcSUMLOTNO
			IF @@ERROR <> 0 
			BEGIN 
				SET @ERRMSG = '기존 자재대포장 삭제 오류가 발생했습니다.'
				GOTO ERROR
			END
			
			UPDATE JAGAIPD
				   SET SUMLOTNO = ''
				 WHERE SUMLOTNO=@dcSUMLOTNO
			IF @@ERROR <> 0 
			BEGIN 
				SET @ERRMSG = '자재가입고 업데이트 오류가 발생했습니다.'
				GOTO ERROR
			END				 

			--가입고처리된 상태가 아닐때 
			IF (SELECT GAIPCFYN FROM JAGAIPH WHERE GAHKEY = @doGAHKEY) <> 'Y'	
			BEGIN
				DELETE FROM COMLOTCRT
				 WHERE LOTNO IN (SELECT SUMLOTNO FROM JAGAIPD WHERE GAHKEY=@doGAHKEY AND LOTNO = @doLOTNO AND SUMLOTNO<>'')

				DELETE FROM PRSPACKSUM
				 WHERE LOTNO = @doLOTNO

				--UPDATE JAGAIPD
				--   SET SUMLOTNO = ''
				-- WHERE GAHKEY=@doGAHKEY
			END

			INSERT INTO PRSPACKSUM
				   (SUMLOTNO,		LOTNO,		LOTQTY,		FACTGB,			
					SABUN,			SUMDATE,	TOTQTY,		PERNNO,
					PACKGB,			FDATE,		FUSER,		FFORM)
			 SELECT
					@dcLOTNO,		@doLOTNO,	@doLOTQTY,	@FACTGB,
					@dcSABUN,		@dcDATE,	0,			'',
					'1',			GETDATE(),	@FUSER,		@FFORM
			IF @@ERROR <> 0 
			BEGIN
				SET @ERRMSG = '자재대포장 등록시 오류가 발생했습니다.'
				GOTO ERROR
			END

			UPDATE A
			   SET A.TOTQTY = B.TOTQTY 
			  FROM PRSPACKSUM A
			  LEFT JOIN (SELECT SUMLOTNO, SUM(LOTQTY) AS TOTQTY
						   FROM PRSPACKSUM
						  GROUP BY SUMLOTNO) B ON A.SUMLOTNO=B.SUMLOTNO
			 WHERE A.SUMLOTNO = @dcLOTNO
			IF @@ERROR <> 0 
			BEGIN
				SET @ERRMSG = '자재대포장 총수량 갱신시 오류가 발생했습니다.'
				GOTO ERROR
			END

			UPDATE JAGAIPD
			   SET SUMLOTNO = @dcLOTNO,
				   PACKGB = '1',
				   LUSER = @FUSER,
				   LFORM = @FFORM
			 WHERE GAHKEY = @doGAHKEY AND LOTNO = @doLOTNO
			IF @@ERROR <> 0 
			BEGIN
				SET @ERRMSG = '대포장 롯트번호 갱신시 오류가 발생했습니다.'
				GOTO ERROR
			END
						 
			 SELECT @dcGADATE = GADATE,
					@dcCUSTNM = B.CUSTSNM
			   FROM JAGAIPH AS A
			   LEFT JOIN COMCUSTH AS B ON A.CUSTCD=B.CUSTCD
			  WHERE GAHKEY=@doGAHKEY
			  
			SELECT @dcPONO = MAX(C.PONO)
			  FROM JAGAIPH A 
			  LEFT JOIN JAORDRD1 B ON A.ORDKEY=B.ORDKEY
			  LEFT JOIN SACORDT C ON B.SAORDKEY=C.SAORDKEY
			  LEFT JOIN COMITEM M ON A.SABUN=M.SABUN
			 WHERE A.GAHKEY = @doGAHKEY
			   AND M.ITTYPE='2' AND RIGHT(M.SABUN,1)='X'

				INSERT INTO #TMEP
				SELECT 'Y' AS SEL,
					   A.SUMLOTNO AS LOTNO, A.SABUN, B.PARTNO, B.ITEMNM, A.LOTQTY,
					   (SELECT CUSTLNM FROM COMCUSTH WHERE PRYN='Y') AS PRCUSTNM,
					   @dcGADATE AS NAPDATE, @dcCUSTNM AS CUSTNM, '1' AS inCount, 
					   --P.SUMDATE AS PRDDATE, 
					   (SELECT TOP 1 PRDDATE FROM JAGAIPD1 AS Z WHERE Z.GAHKEY=@doGAHKEY AND Z.LOTNO=A.LOTNO) PRDDATE,
					   0 AS SORT, A.LOTNO, @doGAHKEY, ISNULL(@dcPONO,'') PONO
				  FROM PRSPACKSUM AS A (NOLOCK)
				  LEFT JOIN COMITEM AS B (NOLOCK) ON A.SABUN=B.SABUN
				  LEFT JOIN (SELECT MAX(SUMDATE) AS SUMDATE, SUMLOTNO FROM PRSPACKSUM GROUP BY SUMLOTNO) AS P ON A.SUMLOTNO=P.SUMLOTNO
				 WHERE A.SUMLOTNO=@dcLOTNO AND A.LOTNO=@doLOTNO
					
			--IF @doGAHKEY1 <> @dcLOTNO 
			--BEGIN
			--	INSERT INTO #TMEP
			--	SELECT 'Y' AS SEL,
			--		   A.SUMLOTNO AS LOTNO, A.SABUN, B.PARTNO, B.ITEMNM, SUM(A.LOTQTY) AS LOTQTY,
			--		   (SELECT CUSTLNM FROM COMCUSTH WHERE PRYN='Y') AS PRCUSTNM,
			--		   A.GADATE AS NAPDATE, C.CUSTLNM AS CUSTNM, '1' AS inCount, 
			--		   P.SUMDATE AS PRDDATE, 0 AS SORT
			--	  FROM JAGAIPD AS A (NOLOCK)
			--	  LEFT JOIN COMITEM AS B (NOLOCK) ON A.SABUN=B.SABUN
			--	  LEFT JOIN COMCUSTH AS C (NOLOCK) ON A.CUSTCD=C.CUSTCD
			--	  LEFT JOIN PRAPACK AS E (NOLOCK) ON A.CUSTCD=E.CUSTCD AND A.SABUN=E.SABUN
			--	  LEFT JOIN (SELECT MAX(SUMDATE) AS SUMDATE, SUMLOTNO FROM PRSPACKSUM GROUP BY SUMLOTNO) AS P ON A.SUMLOTNO=P.SUMLOTNO
			--	 WHERE A.GAHKEY = @doGAHKEY AND A.SUMLOTNO <> '' AND PACKGB = '1'
			--	 GROUP BY A.SUMLOTNO, A.SABUN, B.PARTNO, B.ITEMNM, A.GADATE, C.CUSTLNM, A.GAHKEY, P.SUMDATE

			--	 SET @doGAHKEY1 = @dcLOTNO
			--END
		END
		IF LTRIM(RTRIM(@GAHKEYSTR)) = '' BREAK
	END
	
	SELECT 'Y' AS SEL, B.LOTNO, (A.SABUN) SABUN, (PARTNO) PARTNO,
		   (ITEMNM) ITEMNM, (B.LOTQTY) LOTQTY, (PRCUSTNM) PRCUSTNM,
		   (NAPDATE) NAPDATE, (CUSTNM) CUSTNM, '1' AS inCount, 
		   (SELECT TOP 1 PRDDATE FROM JAGAIPD1 AS Z WHERE Z.GAHKEY=A.GAHKEY AND Z.LOTNO=B.LOTNO) PRDDATE,
		   A.LOTNO SUMLOTNO, '1' SORT, A.PONO
		FROM #TMEP A
		LEFT JOIN PRSPACKSUM AS B ON A.LOTNO=B.SUMLOTNO AND A.SUMLOTNO=B.LOTNO
	UNION
	SELECT 'Y' AS SEL, LOTNO, MAX(SABUN) SABUN, MAX(PARTNO) PARTNO,
		   MAX(ITEMNM) ITEMNM, MAX(TOTQTY) LOTQTY, MAX(PRCUSTNM) PRCUSTNM,
		   MAX(NAPDATE) NAPDATE, MAX(CUSTNM) CUSTNM, '1' AS inCount, MAX(PRDDATE) PRDDATE,
		   LOTNO SUMLOTNO, '2' SORT, MAX(A.PONO)
		FROM #TMEP A
		LEFT JOIN (SELECT MAX(TOTQTY) AS TOTQTY, SUMLOTNO FROM PRSPACKSUM GROUP BY SUMLOTNO) B ON A.LOTNO = B.SUMLOTNO
	   GROUP BY LOTNO
	   ORDER BY SORT, LOTNO
	   	   
	GOTO SUCCESS
	RETURN

/*부품식별표인쇄-롯트헤더조회*/
GetLotHead_Proc:		

	--선택, 거래처, 발주번호, 납품일자, 품목코드, 품번, 품명, 납품수량, 상태
	SELECT 'N' AS SEL,
		   ISNULL(G.CODDNM,'') AS ORDERNM,
		   C.CUSTSNM AS CUSTNM, A.GAHKEY, A.GADATE, 
		   A.SABUN, B.PARTNO, B.ITEMNM, A.GAQTY, 
		   CASE WHEN A.IPGOYN='Y' 
				THEN '입고'
				ELSE (CASE WHEN A.GAIPCFYN='Y' THEN '접수' ELSE '배송중' END)
				END AS STATENM,
		   A.BOXQTY, A.EBOXQTY, A.LOTSIZE AS STDQTY
	  FROM JAGAIPH AS A (NOLOCK)
	  LEFT JOIN COMITEM AS B (NOLOCK) ON A.SABUN=B.SABUN
	  LEFT JOIN COMCUSTH AS C (NOLOCK) ON A.CUSTCD=C.CUSTCD
	  LEFT JOIN JAORDRD D (NOLOCK) ON A.ORDKEY=D.ORDKEY
	  LEFT JOIN COMCODD G (NOLOCK) ON G.CODHCD='M002' AND D.ORDERGB=G.CODDCD
	  LEFT JOIN COMPAS H (NOLOCK) ON A.CUSTCD = H.PERNNO
	 WHERE H.USERID = @UserID
	   AND A.GADATE = @FDATE
	   AND A.SABUN LIKE @SABUN+'%'
	   AND ISNULL(D.ORDERGB,'') LIKE @ORDERGB+'%'
	 ORDER BY A.GAHKEY

	GOTO SUCCESS
	RETURN

/*파레트라벨쇄-롯트헤더조회*/
GetSumLotHead_Proc:		

	--선택, 거래처, 발주번호, 납품일자, 품목코드, 품번, 품명, 납품수량, 상태
	SELECT 'N' AS SEL,
		   ISNULL(G.CODDNM,'') AS ORDERNM,
		   C.CUSTSNM AS CUSTNM, A.GAHKEY, A.GADATE, 
		   A.SABUN, B.PARTNO, B.ITEMNM, A.GAQTY, 
		   CASE WHEN A.IPGOYN='Y' 
				THEN '입고'
				ELSE (CASE WHEN A.GAIPCFYN='Y' THEN '접수' ELSE '배송중' END)
				END AS STATENM,
		   A.BOXQTY, A.EBOXQTY, A.LOTSIZE AS STDQTY
	  FROM JAGAIPH AS A (NOLOCK)
	  LEFT JOIN COMITEM AS B (NOLOCK) ON A.SABUN=B.SABUN
	  LEFT JOIN COMCUSTH AS C (NOLOCK) ON A.CUSTCD=C.CUSTCD
	  LEFT JOIN JAORDRD D (NOLOCK) ON A.ORDKEY=D.ORDKEY
	  LEFT JOIN COMCODD G (NOLOCK) ON G.CODHCD='M002' AND D.ORDERGB=G.CODDCD
	 WHERE A.CUSTCD = @CUSTCD
	   AND A.GADATE = @FDATE
	   AND A.SABUN LIKE @SABUN+'%'
	   AND ISNULL(D.ORDERGB,'') LIKE @ORDERGB+'%'
	 ORDER BY A.GAHKEY

	GOTO SUCCESS
	RETURN

/*부품식별표인쇄-대포장정보*/
GetPackInfo_Proc:

	SELECT MAX(B.PACKUNINT) AS PACKUNIT, COUNT(*) AS PACKBOX, 
		   CASE WHEN MIN(A.PACKUNINT)<MAX(B.PACKUNINT) THEN 'Y' ELSE '' END AS EBOXYN
	  FROM (SELECT A.GAHKEY, A.SUMLOTNO, MAX(B.PACKUNIT) AS PACKUNINT
			  FROM JAGAIPD AS A
			  LEFT JOIN (SELECT SUMLOTNO, COUNT(*) AS PACKUNIT FROM PRSPACKSUM GROUP BY SUMLOTNO)AS B 
				ON A.SUMLOTNO=B.SUMLOTNO
			 WHERE A.GAHKEY=@GAHKEY AND A.SUMLOTNO<>'' AND A.PACKGB = '0'
			 GROUP BY A.GAHKEY, A.SUMLOTNO) A
	  LEFT JOIN (SELECT A.GAHKEY, B.PACKUNINT
					FROM (SELECT A.GAHKEY, MIN(A.SUMLOTNO) AS SUMLOTNO
						    FROM JAGAIPD AS A
						   WHERE A.GAHKEY=@GAHKEY AND A.SUMLOTNO<>'' AND A.PACKGB = '0'
						   GROUP BY A.GAHKEY) A
					LEFT JOIN (SELECT A.GAHKEY, A.SUMLOTNO, MAX(B.PACKUNIT) AS PACKUNINT
								  FROM JAGAIPD AS A
								  LEFT JOIN (SELECT SUMLOTNO, COUNT(*) AS PACKUNIT FROM PRSPACKSUM GROUP BY SUMLOTNO)AS B 
									ON A.SUMLOTNO=B.SUMLOTNO
								 WHERE A.GAHKEY=@GAHKEY AND A.SUMLOTNO<>'' AND A.PACKGB = '0'
								 GROUP BY A.GAHKEY, A.SUMLOTNO) B
					  ON A.SUMLOTNO = B.SUMLOTNO) B
		ON A.GAHKEY = B.GAHKEY

	GOTO SUCCESS
	RETURN

/*부품식별표인쇄-롯트디테일조회*/
GetLotDetail_Proc:	

	SELECT @dcPONO = MAX(C.PONO)
	  FROM JAGAIPH A 
	  LEFT JOIN JAORDRD1 B ON A.ORDKEY=B.ORDKEY
	  LEFT JOIN SACORDT C ON B.SAORDKEY=C.SAORDKEY
	  LEFT JOIN COMITEM M ON A.SABUN=M.SABUN
     WHERE A.GAHKEY = @GAHKEY
	   AND M.ITTYPE='2' AND RIGHT(M.SABUN,1)='X'

	--바코드번호, 품목코드, 품번, 품명, 납품수량, 
	--자사업체명, 납품일자, 거래처명, 품번, 품명, 검사자, INCOUNT
	SELECT 'Y' AS SEL,
		   A.LOTNO, A.SABUN, B.PARTNO, B.ITEMNM, A.LOTQTY,
		   (SELECT CUSTLNM FROM COMCUSTH WHERE PRYN='Y') AS PRCUSTNM,
		   A.GADATE AS NAPDATE, C.CUSTSNM AS CUSTNM, '1' AS inCount,
		   (SELECT TOP 1 PRDDATE FROM JAGAIPD1 AS Z WHERE Z.GAHKEY=A.GAHKEY AND Z.LOTNO=A.LOTNO) AS PRDDATE,
		   ISNULL(@dcPONO,'') PONO
	  FROM JAGAIPD AS A (NOLOCK)
	  LEFT JOIN COMITEM AS B (NOLOCK) ON A.SABUN=B.SABUN
	  LEFT JOIN COMCUSTH AS C (NOLOCK) ON A.CUSTCD=C.CUSTCD
	  LEFT JOIN PRAPACK AS E (NOLOCK) ON A.CUSTCD=E.CUSTCD AND A.SABUN=E.SABUN
	 WHERE A.GAHKEY = @GAHKEY
	 ORDER BY A.LOTNO	

	GOTO SUCCESS
	RETURN

/*부품식별표인쇄-롯트디테일조회*/
GetSumLotDetail_Proc:	

	SELECT @dcPONO = MAX(C.PONO)
	  FROM JAGAIPH A 
	  LEFT JOIN JAORDRD1 B ON A.ORDKEY=B.ORDKEY
	  LEFT JOIN SACORDT C ON B.SAORDKEY=C.SAORDKEY
	  LEFT JOIN COMITEM M ON A.SABUN=M.SABUN
     WHERE A.GAHKEY = @GAHKEY
	   AND M.ITTYPE='2' AND RIGHT(M.SABUN,1)='X'

	--바코드번호, 품목코드, 품번, 품명, 납품수량, 
	--자사업체명, 납품일자, 거래처명, 품번, 품명, 검사자, INCOUNT
	SELECT 'Y' AS SEL,
		   A.LOTNO, A.SABUN, B.PARTNO, B.ITEMNM, A.LOTQTY,
		   (SELECT CUSTLNM FROM COMCUSTH WHERE PRYN='Y') AS PRCUSTNM,
		   A.GADATE AS NAPDATE, C.CUSTSNM AS CUSTNM, '1' AS inCount,
		   (SELECT TOP 1 PRDDATE FROM JAGAIPD1 AS Z WHERE Z.GAHKEY=A.GAHKEY AND Z.LOTNO=A.LOTNO) AS PRDDATE,
		   A.GAHKEY,
		   ISNULL(@dcPONO,'') PONO
	  FROM JAGAIPD AS A (NOLOCK)
	  LEFT JOIN COMITEM AS B (NOLOCK) ON A.SABUN=B.SABUN
	  LEFT JOIN COMCUSTH AS C (NOLOCK) ON A.CUSTCD=C.CUSTCD
	  LEFT JOIN PRAPACK AS E (NOLOCK) ON A.CUSTCD=E.CUSTCD AND A.SABUN=E.SABUN
	 WHERE A.GAHKEY = @GAHKEY	
	 ORDER BY A.LOTNO

	GOTO SUCCESS
	RETURN

/*부품식별표인쇄-롯트디테일조회*/
GetALLLotDetail_Proc:

	--바코드번호, 품목코드, 품번, 품명, 납품수량, 
	--자사업체명, 납품일자, 거래처명, 품번, 품명, 검사자
	SELECT * 
	  FROM (SELECT 'Y' AS SEL,
				   A.LOTNO, A.SABUN, B.PARTNO, B.ITEMNM, CONVERT(DECIMAL(18,2),A.LOTQTY) AS LOTQTY,
				   (SELECT CUSTLNM FROM COMCUSTH WHERE PRYN='Y') AS PRCUSTNM,
				   A.GADATE AS NAPDATE, C.CUSTSNM AS CUSTNM,
				   (SELECT TOP 1 PRDDATE FROM JAGAIPD1 AS Z WHERE Z.GAHKEY=A.GAHKEY AND Z.LOTNO=A.LOTNO) AS PRDDATE,
				   A.GAHKEY+'A' AS SORT, '1' AS inCount
			  FROM JAGAIPD AS A (NOLOCK)
			  LEFT JOIN COMITEM AS B (NOLOCK) ON A.SABUN=B.SABUN
			  LEFT JOIN COMCUSTH AS C (NOLOCK) ON A.CUSTCD=C.CUSTCD
			  LEFT JOIN PRAPACK AS E (NOLOCK) ON A.CUSTCD=E.CUSTCD AND A.SABUN=E.SABUN
			 WHERE A.CUSTCD = @CUSTCD
			   AND A.GADATE = @FDATE
			   AND A.SABUN LIKE @SABUN+'%'
			UNION ALL
			SELECT 'Y' AS SEL,
				   A.SUMLOTNO AS LOTNO, A.SABUN, B.PARTNO, B.ITEMNM, SUM(A.LOTQTY) AS LOTQTY,
				   (SELECT CUSTLNM FROM COMCUSTH WHERE PRYN='Y') AS PRCUSTNM,
				   A.GADATE AS NAPDATE, C.CUSTSNM AS CUSTNM, 
				   P.SUMDATE AS PRDDATE,
				   A.GAHKEY+'B' AS SORT, '1' AS inCount
			  FROM JAGAIPD AS A (NOLOCK)
			  LEFT JOIN COMITEM AS B (NOLOCK) ON A.SABUN=B.SABUN
			  LEFT JOIN COMCUSTH AS C (NOLOCK) ON A.CUSTCD=C.CUSTCD
			  LEFT JOIN PRAPACK AS E (NOLOCK) ON A.CUSTCD=E.CUSTCD AND A.SABUN=E.SABUN
			  LEFT JOIN (SELECT MAX(SUMDATE) AS SUMDATE, SUMLOTNO FROM PRSPACKSUM GROUP BY SUMLOTNO) AS P ON A.SUMLOTNO=P.SUMLOTNO
			 WHERE A.CUSTCD = @CUSTCD
			   AND A.GADATE = @FDATE
			   AND A.SUMLOTNO <> '' AND A.PACKGB = '0'
			 GROUP BY A.SUMLOTNO, A.SABUN, B.PARTNO, B.ITEMNM, A.GADATE, C.CUSTSNM, A.GAHKEY, P.SUMDATE) A
	ORDER BY SORT, A.LOTNO

	GOTO SUCCESS
	RETURN

/*거래명세서인쇄-거래처정보*/
GetCustInfo_Proc:		
	
	IF @CUSTCD = 'ADMIN'
	BEGIN
		SELECT SaupNum, CUSTLNM AS CustName, President, Address, UpTae, JongMok, (select savefilelist from trustuploadfile z where z.uid=fileuid) STEMPSRC
		  FROM COMCUSTH
		 WHERE PRYN='Y'
	END
	ELSE
	BEGIN
		SELECT SaupNum, CUSTLNM AS CustName, President, Address, UpTae, JongMok,  (select savefilelist from trustuploadfile z where z.uid=fileuid) STEMPSRC
		  FROM COMCUSTH A
		  LEFT JOIN COMPAS H (NOLOCK) ON A.CUSTCD = H.PERNNO
		 WHERE USERID = @UserID
	END

	GOTO SUCCESS
	RETURN

/*거래명세서인쇄-거래명세서정보*/
GetAccount_Proc:		

	--SELECT 'N' AS SEL, 
	--	   ISNULL(G.CODDNM,'') AS ORDERNM,
	--	   '' AS NUM,
	--	   H.CODDNM AS FACTNM,
	--	   A.GAHKEY,
	--	   A.SABUN, C.PARTNO, C.ITEMNM, K.CODDNM AS ITSPEC,
	--	   A.GAQTY, ISNULL(D.ORKRPRICE,0) AS GAPRICE, 
	--	   CAST(A.GAQTY*ISNULL(D.ORKRPRICE,0) AS DECIMAL(18,2)) AS GAAMT		   --ISNULL(D.ORKRAMT,0) AS GAAMT 
	--  FROM JAGAIPH AS A (nolock) 
	--  LEFT JOIN COMCUSTH AS B (nolock) ON A.CustCD = B.CustCD
	--  LEFT JOIN COMITEM AS C (nolock) ON A.Sabun = C.Sabun
	--  LEFT JOIN COMCODD H (NOLOCK) ON H.CODHCD = 'A003' AND A.FACTGB=H.CODDCD
 --     LEFT JOIN JAORDRD D (nolock) ON A.ORDKEY = D.ORDKEY
	--  LEFT JOIN COMCODD G (nolock) ON G.CODHCD = 'M002' AND D.ORDERGB=G.CODDCD
	--  LEFT JOIN COMCODD K (nolock) ON K.CODHCD = 'C502' AND C.ITSPEC=K.CODDCD
	--  LEFT JOIN COMPAS E (NOLOCK) ON A.CUSTCD = E.PERNNO
	-- WHERE E.USERID = @UserID
	--   AND A.GADATE = @FDATE 
	--   AND ISNULL(D.ORDERGB,'') LIKE @ORDERGB+'%'
	-- ORDER BY A.GAHKEY
	
	--SELECT 'N' AS SEL, 
	--	   MAX(ISNULL(G.CODDNM,'')) AS ORDERNM,
	--	   '' AS NUM,
	--	   MAX(H.CODDNM) AS FACTNM,
	--	   MAX(A.GAHKEY) GAHKEY,
	--	   MAX(A.SABUN) SABUN, MAX(C.PARTNO) PARTNO, MAX(C.ITEMNM) ITEMNM, MAX(K.CODDNM) AS ITSPEC,
	--	   SUM(D.GAQTY) GAQTY, MAX(I.ORKRPRICE) GAPRICE, SUM(D.GAQTY)*MAX(I.ORKRPRICE) GAAMT
	--  FROM JAGAIPH AS A (nolock) 
	--  LEFT JOIN COMCUSTH AS B (nolock) ON A.CustCD = B.CustCD
	--  LEFT JOIN COMITEM AS C (nolock) ON A.Sabun = C.Sabun
	--  LEFT JOIN COMCODD H (NOLOCK) ON H.CODHCD = 'A003' AND A.FACTGB=H.CODDCD
	--  LEFT JOIN JAGAIPD1 D (NOLOCK) ON A.GAHKEY=D.GAHKEY
	--  LEFT JOIN JAORDRD I (NOLOCK) ON D.ORDKEY=I.ORDKEY
	--  LEFT JOIN COMCODD G (nolock) ON G.CODHCD = 'M002' AND I.ORDERGB=G.CODDCD
	--  LEFT JOIN COMCODD K (nolock) ON K.CODHCD = 'C502' AND C.ITSPEC=K.CODDCD
	--  LEFT JOIN COMPAS E (NOLOCK) ON A.CUSTCD = E.PERNNO
	-- WHERE E.USERID = @UserID
	--   AND A.GADATE = @FDATE 
	--   AND ISNULL(I.ORDERGB,'') LIKE @ORDERGB+'%'
	-- GROUP BY A.GAHKEY
	-- ORDER BY A.GAHKEY
	 
	SELECT 'N' AS SEL,
		   ISNULL(G.CODDNM,'') AS ORDERNM, 
		   '' AS NUM,
		   O.CODDNM AS FACTNM,
		   A.GAHKEY,
		   A.SABUN, B.PARTNO, B.ITEMNM, K.CODDNM ITSPEC,
		   A.GAQTY, D.ORKRPRICE GAPRICE, A.GAQTY*D.ORKRPRICE GAAMT
	  FROM JAGAIPH AS A (NOLOCK)
	  LEFT JOIN COMITEM AS B (NOLOCK) ON A.SABUN=B.SABUN
	  LEFT JOIN COMCUSTH AS C (NOLOCK) ON A.CUSTCD=C.CUSTCD
      LEFT JOIN JAORDRD D (NOLOCK) ON A.ORDKEY = D.ORDKEY
	  LEFT JOIN COMCODD G (NOLOCK) ON G.CODHCD='M002' AND D.ORDERGB=G.CODDCD
	  LEFT JOIN COMPAS H (NOLOCK) ON A.CUSTCD = H.PERNNO
	  LEFT JOIN COMCODD O (NOLOCK) ON O.CODHCD = 'A003' AND A.FACTGB=O.CODDCD
	  LEFT JOIN COMCODD K (nolock) ON K.CODHCD = 'C502' AND B.ITSPEC=K.CODDCD
	 WHERE H.USERID = @UserID
	   AND A.GADATE = @FDATE
	   AND ISNULL(D.ORDERGB,'') LIKE @ORDERGB+'%'
	 ORDER BY A.GAHKEY


	GOTO SUCCESS
	RETURN
	
PackRePrint_Proc:

	IF LEN(@GAHKEYSTR) > 0
	BEGIN
		WHILE (1 = 1)
		BEGIN  
			IF @GAHKEYSTR<>'' EXEC SDAOBGETCOLS @GAHKEYSTR OUTPUT, @doGAHKEY OUTPUT   
			
			--IF @PRTOPT = 'ALL' OR @PRTOPT = 'LOT'
			--BEGIN
			
				SELECT @dcPONO = MAX(C.PONO)
				  FROM JAGAIPH A 
				  LEFT JOIN JAORDRD1 B ON A.ORDKEY=B.ORDKEY
				  LEFT JOIN SACORDT C ON B.SAORDKEY=C.SAORDKEY
				  LEFT JOIN COMITEM M ON A.SABUN=M.SABUN
				 WHERE A.GAHKEY = @doGAHKEY
				   AND M.ITTYPE='2' AND RIGHT(M.SABUN,1)='X'

				INSERT INTO #TMEP
				SELECT 'Y' AS SEL,
					   A.LOTNO, A.SABUN, B.PARTNO, B.ITEMNM, A.LOTQTY,
					   (SELECT CUSTLNM FROM COMCUSTH WHERE PRYN='Y') AS PRCUSTNM,
					   A.GADATE AS NAPDATE, C.CUSTSNM AS CUSTNM, '1' AS inCount,
					   (SELECT TOP 1 PRDDATE FROM JAGAIPD1 AS Z WHERE Z.GAHKEY=A.GAHKEY AND Z.LOTNO=A.LOTNO) AS PRDDATE, 
					   0 AS SORT, A.SUMLOTNO, '', ISNULL(@dcPONO,'')
				  FROM JAGAIPD AS A (NOLOCK)
				  LEFT JOIN COMITEM AS B (NOLOCK) ON A.SABUN=B.SABUN
				  LEFT JOIN COMCUSTH AS C (NOLOCK) ON A.CUSTCD=C.CUSTCD
				  LEFT JOIN PRAPACK AS E (NOLOCK) ON A.CUSTCD=E.CUSTCD AND A.SABUN=E.SABUN
				 WHERE A.GAHKEY = @doGAHKEY
				 ORDER BY A.LOTNO
			--END						 
			 
			--IF @PRTOPT = 'ALL' OR @PRTOPT = 'SUMLOT'
			--BEGIN
			--	INSERT INTO #TMEP
			--	SELECT 'Y' AS SEL,
			--		   A.SUMLOTNO AS LOTNO, A.SABUN, B.PARTNO, B.ITEMNM, SUM(A.LOTQTY) AS LOTQTY,
			--		   (SELECT CUSTLNM FROM COMCUSTH WHERE PRYN='Y') AS PRCUSTNM,
			--		   A.GADATE AS NAPDATE, C.CUSTLNM AS CUSTNM, '1' AS inCount, 
			--		   P.SUMDATE AS PRDDATE, 1 AS SORT, A.SUMLOTNO, ''
			--	  FROM JAGAIPD AS A (NOLOCK)
			--	  LEFT JOIN COMITEM AS B (NOLOCK) ON A.SABUN=B.SABUN
			--	  LEFT JOIN COMCUSTH AS C (NOLOCK) ON A.CUSTCD=C.CUSTCD
			--	  LEFT JOIN PRAPACK AS E (NOLOCK) ON A.CUSTCD=E.CUSTCD AND A.SABUN=E.SABUN
			--	  LEFT JOIN (SELECT MAX(SUMDATE) AS SUMDATE, SUMLOTNO FROM PRSPACKSUM GROUP BY SUMLOTNO) AS P ON A.SUMLOTNO=P.SUMLOTNO
			--	 WHERE A.GAHKEY = @doGAHKEY AND A.SUMLOTNO <> '' AND PACKGB = '1'
			--	 GROUP BY A.SUMLOTNO, A.SABUN, B.PARTNO, B.ITEMNM, A.GADATE, C.CUSTLNM, A.GAHKEY, P.SUMDATE
			--	 ORDER BY A.SUMLOTNO				 
			--END			
		
			IF ISNULL(LTRIM(RTRIM(@GAHKEYSTR)), '') = ' '       BREAK 
		END
	END 
	
	IF @PRTOPT = 'ALL' OR @PRTOPT = 'SUMLOT'
	BEGIN
		INSERT INTO #TMEP
		SELECT 'Y' AS SEL,
				A.SUMLOTNO AS LOTNO, MAX(A.SABUN), MAX(B.PARTNO), MAX(B.ITEMNM), SUM(A.LOTQTY) AS LOTQTY,
				(SELECT CUSTLNM FROM COMCUSTH WHERE PRYN='Y') AS PRCUSTNM,
				A.GADATE AS NAPDATE, C.CUSTLNM AS CUSTNM, '1' AS inCount, 
				--P.SUMDATE AS PRDDATE, 
				MAX(Z.PRDDATE) PRDDATE,
				1 AS SORT, A.SUMLOTNO, '', MAX(T.PONO)
			FROM JAGAIPD AS A (NOLOCK)
			LEFT JOIN JAGAIPD1 AS Z (NOLOCK) ON Z.GAHKEY=A.GAHKEY AND Z.LOTNO=A.LOTNO
			LEFT JOIN COMITEM AS B (NOLOCK) ON A.SABUN=B.SABUN
			LEFT JOIN COMCUSTH AS C (NOLOCK) ON A.CUSTCD=C.CUSTCD
			LEFT JOIN PRAPACK AS E (NOLOCK) ON A.CUSTCD=E.CUSTCD AND A.SABUN=E.SABUN
			LEFT JOIN (SELECT MAX(SUMDATE) AS SUMDATE, SUMLOTNO FROM PRSPACKSUM GROUP BY SUMLOTNO) AS P ON A.SUMLOTNO=P.SUMLOTNO
		    INNER JOIN (SELECT PONO, SUMLOTNO FROM #TMEP GROUP BY SUMLOTNO, PONO) AS T ON A.SUMLOTNO=T.SUMLOTNO
			WHERE A.SUMLOTNO IN (SELECT SUMLOTNO FROM #TMEP)
			  AND A.SUMLOTNO <> '' AND PACKGB = '1'
			GROUP BY A.SUMLOTNO, A.GADATE, C.CUSTLNM, P.SUMDATE
			ORDER BY A.SUMLOTNO	
			
		IF @PRTOPT = 'SUMLOT'
			DELETE FROM #TMEP WHERE SORT=0
	END			

	SELECT *
	  FROM #TMEP 
	 ORDER BY SORT, LOTNO
	
	GOTO SUCCESS
	RETURN

SUCCESS:
	SET @ERRGB='O'

	COMMIT TRAN
	IF @RTNYN='Y' SELECT '' AS CHK
	RETURN

ERROR:
	SET @ERRGB='X'

	ROLLBACK TRAN
	IF @RTNYN='Y' SELECT 'X' AS CHK, @ERRMSG AS ERRMSG
	RETURN
