USE [MES_HI]
GO
/****** Object:  StoredProcedure [dbo].[sp_SCM_HelpPop]    Script Date: 12/02/2013 19:52:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--SCM : HELP 창 관련

ALTER PROCEDURE [dbo].[sp_SCM_HelpPop]
		@WorkGB		NVARCHAR(20) = '',	--조회 구분
		@CUSTCD		NVARCHAR(10) = ''
AS

BEGIN TRAN

	IF @WorkGB = 'Help_Itcst'
		GOTO Help_Itcst_Proc
	ELSE
	BEGIN
		SELECT 'NoData'
		GOTO ERR_HANDLER
	END 

Help_Itcst_Proc:		

	--업체별 품목코드	
	SELECT SABUN AS a, MAX(ITEMNM) AS b
	  FROM COMITCST
	 WHERE CUSTCD = @CUSTCD
	 GROUP BY FACTGB, SABUN, CUSTCD
	HAVING COUNT(*)=1
	UNION 
	SELECT A.SABUN, A.ITEMNM
	  FROM COMITCST A
	 INNER JOIN (SELECT FACTGB, SABUN, CUSTCD, MAX(STDAT) AS [STDAT]
				   FROM COMITCST
				  WHERE CUSTCD = @CUSTCD	
				  GROUP BY FACTGB, SABUN, CUSTCD
				 HAVING COUNT(*) > 1) B
		ON A.SABUN=B.SABUN
	   AND A.CUSTCD=B.CUSTCD
	   AND A.STDAT=B.STDAT
	   AND A.FACTGB=B.FACTGB
	 WHERE A.PARTNO <> ''
	 ORDER BY A

	GOTO SUCCESS
	RETURN

SUCCESS:
	COMMIT TRAN
	RETURN

ERR_HANDLER:
	ROLLBACK TRAN
	RETURN

--exec [sp_SCM_HelpPop] 'Help_Itcst', '0000'
