USE [MES_HI]
GO
/****** Object:  StoredProcedure [dbo].[sp_SCM_StokList]    Script Date: 12/02/2013 19:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--SCM : 재고조회 관련

ALTER PROCEDURE [dbo].[sp_SCM_StokList]
		@WORKGB		NVARCHAR(20) = '',

		@FACTGB		NVARCHAR(1)  = '',	-- 사업장구분
		@Sabun		NVARCHAR(15) = '',	-- 품목코드
		@CustCD		NVARCHAR(20) = '',	-- 거래처

		@FUSER		NVARCHAR(10) = '',	-- 등록자
		@FFORM		NVARCHAR(50) = '',	-- 등록폼 
		@ERRGB		NVARCHAR(1)	 = '' OUTPUT,
		@ERRMSG		NVARCHAR(100)= '' OUTPUT,
		@RTNYN		NVARCHAR(1)  = 'Y'

AS

BEGIN TRAN

	IF @WORKGB = 'GetStokList'
		GOTO GetStokList_Proc
	ELSE
	BEGIN
		SELECT 'NoData'
		GOTO ERROR
	END 

GetStokList_Proc:

--select * from comcodd where codhcd='c070'

	DECLARE @dcFDATE	NVARCHAR(8),
			@dcTDATE	NVARCHAR(8)

SET @dcFDATE = LEFT(CONVERT(VARCHAR,GETDATE(),112),6)+'01'
SET @dcTDATE = CONVERT(VARCHAR,GETDATE(),112)

SELECT A.FACTGB, A.SABUN, ISNULL(A.CUSTCD,'') AS [CUSTCD], SUM(BSTOKQTY + IPGOQTY - CHULQTY) + SUM(JAQTY) AS [STOKQTY]
  INTO #tmpSTOKMAIN
  FROM (SELECT A.FACTGB, A.SABUN, B.CDREF01 AS [CUSTCD], C.GONGCD, SUM(GICHQTY) AS [BSTOKQTY], 0 AS [IPGOQTY], 0 AS [CHULQTY], 0 AS [JAQTY]
			 FROM PRSGONGSTOK AS A
			INNER JOIN (SELECT CODDCD, CODDNM, CDREF01 FROM COMCODD WHERE CODHCD='C070' AND CDREF01 <> '') AS B
				ON A.WAREGB = B.CODDCD
  		    LEFT JOIN COMPBOMH AS C
	 			ON A.SABUN = C.SABUN
			WHERE A.FACTGB LIKE @FACTGB+'%'
			  AND A.STOKYM = LEFT(@dcFDATE,6)
			  AND A.SABUN LIKE @SABUN+'%'
			  AND B.CDREF01 LIKE @CUSTCD+'%'
			GROUP BY A.FACTGB, A.SABUN, B.CDREF01, C.GONGCD
		  UNION ALL

		  SELECT A.FACTGB, A.SABUN, B.CDREF01 AS [CUSTCD], A.GONGCD, 0 AS [BSTOKQTY], SUM(GIPGOQTY) AS [IPGOQTY], 0 AS [CHULQTY], 0 AS [JAQTY]
		    FROM PRSGONGIPGO AS A
		   INNER JOIN (SELECT CODDCD, CODDNM, CDREF01 FROM COMCODD WHERE CODHCD='C070' AND CDREF01 <> '') AS B
			   ON A.WAREGB = B.CODDCD
		   WHERE A.FACTGB LIKE @FACTGB+'%'
			  AND A.GIPGODATE BETWEEN @dcFDATE AND @dcTDATE
			  AND A.SABUN LIKE @SABUN+'%'
			  AND B.CDREF01 LIKE @CUSTCD+'%'
		   GROUP BY A.FACTGB, A.SABUN, B.CDREF01, A.GONGCD

		  UNION ALL

		  SELECT A.FACTGB, A.SABUN, B.CDREF01 AS [CUSTCD], A.GONGCD, 0 AS [BSTOKQTY], 0 AS [IPGOQTY], SUM(GCHULQTY) AS [CHULQTY], 0 AS [JAQTY]
		    FROM PRSGONGCHUL AS A
		   INNER JOIN (SELECT CODDCD, CODDNM, CDREF01 FROM COMCODD WHERE CODHCD='C070' AND CDREF01 <> '') AS B
			   ON A.WAREGB = B.CODDCD
		   WHERE A.FACTGB LIKE @FACTGB+'%'
			  AND A.GCHULDATE BETWEEN @dcFDATE AND @dcTDATE
			  AND A.SABUN LIKE @SABUN+'%'
			  AND B.CDREF01 LIKE @CUSTCD+'%'
		   GROUP BY A.FACTGB, A.SABUN, B.CDREF01, A.GONGCD

		  UNION ALL

	 	 SELECT A.FACTGB,A.SABUN, B.CDREF01 AS [CUSTCD], A.GONGCD, 0 AS [BSTOKQTY], 0 AS [IPGOQTY], 0 AS [CHULQTY], SUM(A.STOKQTY) AS [JAQTY]
		  FROM JASTOKPT AS A
		 INNER JOIN (SELECT CODDCD, CODDNM, CDREF01 FROM COMCODD WHERE CODHCD='C070' AND CDREF01 <> '') AS B
			 ON A.WAREGB = B.CODDCD
		 WHERE A.FACTGB LIKE @FACTGB+'%'
			AND A.SABUN LIKE @SABUN+'%'
			AND B.CDREF01 LIKE @CUSTCD+'%'
		 GROUP BY A.FACTGB, A.SABUN, B.CDREF01, A.GONGCD) AS A
  GROUP BY A.FACTGB, A.SABUN, A.CUSTCD

SELECT A.FACTGB, B.CUSTSNM AS CUSTNM, A.SABUN, C.PARTNO, C.ITEMNM, D.CODDNM AS ITSPEC, C.ITJAJIL, 
		 C.ITCAR, G.CODDNM AS [GONGNM], A.STOKQTY
  FROM #tmpSTOKMAIN AS A 
  LEFT JOIN COMCUSTH AS B
	 ON A.CUSTCD = B.CUSTCD
  LEFT JOIN COMITEM AS C
	 ON A.SABUN = C.SABUN
  LEFT JOIN (SELECT CODDCD, CODDNM FROM COMCODD WHERE CODHCD='C502') AS D
	 ON C.ITSPEC = D.CODDCD
  LEFT JOIN COMPBOMH AS F
	 ON A.SABUN = F.SABUN
  LEFT JOIN (SELECT CODDCD, CODDNM FROM COMCODD WHERE CODHCD='P010') AS G
	 ON F.GONGCD = G.CODDCD
 WHERE A.CUSTCD LIKE @CUSTCD+'%'
	AND A.SABUN LIKE @SABUN+'%'
 ORDER BY A.FACTGB, A.CUSTCD, A.SABUN, F.GONGCD

DROP TABLE #tmpSTOKMAIN

-- Exec sp_SCM_StokList @WorkGB = 'GetStokList', @CUSTCD = '00665', @SABUN = ''

	GOTO SUCCESS
	RETURN

SUCCESS:
	SET @ERRGB='O'

	COMMIT TRAN
	IF @RTNYN='Y' SELECT '' AS CHK
	RETURN

ERROR:
	SET @ERRGB='X'

	ROLLBACK TRAN
	IF @RTNYN='Y' SELECT 'X' AS CHK, @ERRMSG AS ERRMSG
	RETURN
