USE [MES_HI]
GO
/****** Object:  StoredProcedure [dbo].[sp_SCM_MemberShip]    Script Date: 12/02/2013 19:52:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SCM : 사원 코드 관리 / 사용자 로그인 관련

CREATE PROCEDURE [dbo].[sp_SCM_MemberShip]
		@WorkGB		NVARCHAR(20) = '',	--조회 구분

		@UserID		NVARCHAR(15) = '',	--사용자 로그인 ID
		@UserPass	NVARCHAR(30) = '',	--로그인 비밀번호
		@UserPass1	NVARCHAR(30) = '',
		@FILEUID	INT			 = 0,

		@oldPassWord	NVARCHAR(20) = '',
		@newPassWord	NVARCHAR(20) = ''
AS

BEGIN TRAN

	IF @WorkGB = 'Login'
		GOTO Login_Proc
	ELSE IF @WorkGB = 'GetCustList'
		GOTO GetCustList_Proc
	ELSE IF @WorkGB = 'ChangePass'
		GOTO ChangePass_Proc
	ELSE IF @WorkGB = 'GetAuthority'
		GOTO GetAuthority_Proc
	ELSE IF @WORKGB = 'fileuid_upd'
		GOTO fileuid_upd_Proc
	ELSE
	BEGIN
		SELECT 'NoData'
		GOTO ERR_HANDLER
	END 

fileuid_upd_Proc:

	DECLARE @dcCUSTCD NVARCHAR(10)

	SELECT @dcCUSTCD = C.CUSTCD
	  from ComPas AS A
	  left join comemp as b on a.pernno=b.pernno
	  left JOIN COMCUSTH AS C on A.PERNNO = C.CUSTCD
	 WHERE A.USERID = @UserID
	 
	UPDATE COMCUSTH 
	   SET FILEUID = @FILEUID
	 WHERE CUSTCD = @dcCUSTCD
	IF @@ROWCOUNT = 0
		SELECT '도장등록이 실패했습니다.' as Result
	ELSE
		SELECT 'OK' as Result

Login_Proc:

	DECLARE @dcADMIN	NVARCHAR(1),
			@dcCUSTYN	NVARCHAR(1)

	IF @UserID = 'mateadmin'
		BEGIN
			IF @UserPass <> 'COMMATE'
				SELECT 'NO_USERPASS' AS userID, '' AS userName
			ELSE
				SELECT 'mateadmin' AS userID, 
					   '(주)컴퓨터메이트' AS userName, 
					   '' AS userPass,
					   'Y' AS isAdmin,
					   'Y' AS isLogin
		END
	ELSE IF @UserID = 'dhdo'
		BEGIN 
			IF @UserPass <> 'asd123' 
				SELECT 'NO_USERPASS' AS userID, '' AS userName
			ELSE
				SELECT 'dhdo' AS userID, 
					   '(주)한일정밀' AS userName, 
					   '' AS userPass,
					   'Y' AS isAdmin,
					   'Y' AS isLogin
		END
	ELSE
		BEGIN
			--사용자 아이디 존재 여부 확인
			IF NOT EXISTS(SELECT * FROM COMPAS WHERE USERID=@UserID AND SCMYN='Y')
				SELECT 'NO_USERID' AS userID
			ELSE
				BEGIN
					SET @dcADMIN = 'Y'
					SET @dcCUSTYN = 'N'
					
					IF EXISTS (SELECT * FROM COMPAS AS A LEFT JOIN COMEMP AS B ON A.PERNNO=B.PERNNO WHERE A.USERID=@UserID AND B.PERNNO IS NULL)
					begin 
						SET @UserPass = @USERPASS1
					    set @dcADMIN = 'N'	
					end
						
					--비밀번호 정확 여부 확인
					IF NOT EXISTS(SELECT * FROM COMPAS WHERE USERID=@UserID AND PASSWD=@UserPass)
						SELECT 'NO_USERPASS' AS userID, '' AS userName
					ELSE
						SELECT USERID AS userID,
							   '' AS userPass,
							   USERNAME AS userName,
							   @dcADMIN AS isAdmin,
							   'Y' AS isLogin,
							   @dcCUSTYN AS isCUSTYN
						  FROM COMPAS 
						 WHERE USERID = @UserID
						   AND PASSWD = @UserPass
				END
			END

	GOTO SUCCESS
	RETURN

GetCustList_Proc:

	SELECT C.CUSTLNM as CustName,
		   C.CUSTCD AS CustCD,
		   A.USERID AS UserID, 
		   A.PASSWD AS UserPass,
		   C.Address
	  from ComPas AS A
	  left join comemp as b on a.pernno=b.pernno
	  left JOIN COMCUSTH AS C on A.PERNNO = C.CUSTCD
	 WHERE B.EMPKIND IS NULL AND C.CUSTLNM IS NOT NULL

	GOTO SUCCESS
	RETURN

ChangePass_Proc:

	UPDATE COMPAS 
	   SET PASSWD = @NEWPASSWORD
	 WHERE USERID = @UserID
	   AND PASSWD = @OLDPASSWORD
	IF @@ROWCOUNT = 0
		SELECT '현재 비밀번호를 정확하게 입력하세요.' as Result
	ELSE
		SELECT 'OK' as Result

	GOTO SUCCESS
	RETURN

GetAuthority_Proc:

	SELECT 
		'Y' AS XGSRYN, 
		'Y' AS XGINYN, 
		'Y' AS XGDEYN, 
		'Y' AS XGSVYN, 
		'Y' AS XGPTYN, 
		'Y' AS XGPRYN, 
		'Y' AS XGEXYN, 
		'Y' AS XGR1YN, 
		'Y' AS XGR2YN, 
		'Y' AS XGR3YN
	
	GOTO SUCCESS
	RETURN

SUCCESS:
	COMMIT TRAN
	RETURN

ERR_HANDLER:
	ROLLBACK TRAN
	RETURN
