USE [MES_HI]
GO
/****** Object:  StoredProcedure [dbo].[sp_SCM_TrustNotice]    Script Date: 12/02/2013 19:53:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--SCM : 공지사항 관련

ALTER PROCEDURE [dbo].[sp_SCM_TrustNotice]

	@WorkGB			NVARCHAR(20)	=	'',	-- 조회 구분
	@uid			NVARCHAR(4)		=	'',
	@Subject		NVARCHAR(100)	=	'',
	@UserID			NVARCHAR(15)	=	'',
	@CustName		NVARCHAR(50)	=	'',
	@Writer			NVARCHAR(50)	=	'',
	@Content		NVARCHAR(4000)	=	'',
	@FileUid		INT				=   0,
	@Date			NVARCHAR(10)	=	'',
	@FormID			NVARCHAR(50)	=	'',

	@yyyymm			NVARCHAR(6)		=	'',
	@last			NVARCHAR(2)		=	'',
	@IsAdmin		NVARCHAR(1)		=	'',
	@sessionid		NVARCHAR(15)	=	'',

	@FDATE			DATETIME		= '1900-01-01', -- 등록일
	@FUSER			NVARCHAR(15)	= '', -- 등록자
	@FFORM			NVARCHAR(50)	= '', -- 등록폼 
	@LDATE			DATETIME		= '1900-01-01', -- 수정일
	@LUSER			NVARCHAR(15)	= '', -- 수정자
	@LFORM			NVARCHAR(50)	= ''
-----------------------------------------------
AS
-----------------------------------------------
	-- DECLARE @vcErrMessage 	NVARCHAR(MAX)
	-- SET @vcErrMessage = '프로시저에서 에러가 발생하였습니다.'
-----------------------------------------------
BEGIN TRAN
-----------------------------------------------
	IF @WorkGB = 'GetList'
		GOTO GetList_Proc
	ELSE IF @WorkGB = 'Delete'
		GOTO Delete_Proc
	ELSE IF @WorkGB = 'Add'
		GOTO Add_Proc
	ELSE IF @WorkGB = 'Update'
		GOTO Update_Proc
	ELSE
		GOTO AS_Proc
-----------------------------------------------
GetList_Proc:

		SELECT 
			uid,	subject,	userid,
			writer,	content,	fileuid,
			Substring(Convert(NVARCHAR, date, 120), 1, 10) as date,	
			formID,
			'' AS isAdmin,
			'' AS sessionid,
			'' AS QueryKind
		FROM TrustNotice
		--WHERE FormID = @FormID
		ORDER BY date desc, uid

	GOTO SUCCESS
	RETURN
-----------------------------------------------
Delete_Proc:
	
	Delete From TRUSTNOTICE
		WHERE UID = @uid

	GOTO SUCCESS
	RETURN
-----------------------------------------------
Add_Proc:

	INSERT INTO TrustNotice
	(
		Subject,	UserID,		Writer,		Content,
		FileUid,	Date,		FormID
	) VALUES(
		@Subject,	@UserID,	@Writer,	@Content,
		@FileUid,	@Date,		@FormID
	)

	GOTO SUCCESS
	RETURN
-----------------------------------------------
Update_Proc:

	UPDATE TrustNotice SET 
		Subject = @Subject, 
		Writer = @Writer, 
		Content	=	@Content,
		FileUid	= @FileUid,
		Date	= @Date,
		FormID	= @FormID
	WHERE UID = @uid

	GOTO SUCCESS
	RETURN
-----------------------------------------------
AS_Proc:

	SELECT 'NoData'

	IF @@ERROR <> 0 GOTO ERROR
	ELSE GOTO SUCCESS

	RETURN
-----------------------------------------------
SUCCESS:
	COMMIT TRAN
	RETURN
-----------------------------------------------
ERROR:
	ROLLBACK TRAN
	RETURN
-----------------------------------------------
